examples/time-comp/1 - used as time switch node.json
[{"id":"e87f01f8.b57ee","type":"time-comp","z":"603bc97f.7d3538","outputs":5,"name":"","positionConfig":"14613f77.c25991","input":"","inputType":"date","inputFormat":"0","inputOffset":0,"inputOffsetType":"none","inputOffsetMultiplier":60000,"rules":[{"operator":"5","operatorType":"12,13,14","operatorText":"<      (lesser)","operandType":"entered","operandValue":"8:00:00","format":"H:m:s","formatSelection":"99","offsetType":"none","offsetValue":"","multiplier":"60000","propertyType":"none","propertyValue":""},{"operator":"5","operatorType":"12,13,14","operatorText":"<      (lesser)","operandType":"entered","operandValue":"9:00:00","format":"H:m:s","formatSelection":"99","offsetType":"none","offsetValue":"","multiplier":"60000","propertyType":"none","propertyValue":""},{"operator":"1","operatorType":"12,13,14","operatorText":"==     (equal)","operandType":"entered","operandValue":"15:00:00","format":"H:m:s","formatSelection":"99","offsetType":"none","offsetValue":"","multiplier":"60000","propertyType":"none","propertyValue":""},{"operator":"99","operatorType":"11,12,13,14,15,16,17,18","operatorText":"otherwise","operandType":"dateEntered","operandValue":"","format":"ddd MMM dd yyyy HH:mm:ss","formatSelection":"99","offsetType":"none","offsetValue":"","multiplier":"60000","propertyType":"none","propertyValue":""}],"checkall":"true","results":[{"p":"msgPayload","pt":"msgPayload","v":"","vt":"input","o":"1","oT":"none","oM":"60000","f":0,"fS":0,"fT":"UNIX timestamp (ms)","fI":"0","next":false,"days":"","months":"","onlyEvenDays":false,"onlyOddDays":false}],"x":350,"y":2260,"wires":[["f16cb43d.1bf438"],["4ce1e774.e3d298"],["88843c6a.89dfa"],["85151683.5c49f8"],[]]},{"id":"795724a.7b4dfdc","type":"inject","z":"603bc97f.7d3538","name":"","props":[{"p":"payload"}],"repeat":"600","crontab":"","once":true,"onceDelay":"0.9","topic":"","payload":"","payloadType":"date","x":150,"y":2260,"wires":[["e87f01f8.b57ee"]]},{"id":"f16cb43d.1bf438","type":"change","z":"603bc97f.7d3538","name":"msg.payload = 20","rules":[{"t":"set","p":"payload","pt":"msg","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":2220,"wires":[["7c7790e4.51023"]]},{"id":"4ce1e774.e3d298","type":"change","z":"603bc97f.7d3538","name":"msg.payload = 30","rules":[{"t":"set","p":"payload","pt":"msg","to":"30","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":2260,"wires":[["7c7790e4.51023"]]},{"id":"88843c6a.89dfa","type":"change","z":"603bc97f.7d3538","name":"msg.payload = 40","rules":[{"t":"set","p":"payload","pt":"msg","to":"40","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":2300,"wires":[["7c7790e4.51023"]]},{"id":"85151683.5c49f8","type":"change","z":"603bc97f.7d3538","name":"msg.payload = 50","rules":[{"t":"set","p":"payload","pt":"msg","to":"50","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":2340,"wires":[["7c7790e4.51023"]]},{"id":"7c7790e4.51023","type":"debug","z":"603bc97f.7d3538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":810,"y":2270,"wires":[]},{"id":"14613f77.c25991","type":"position-config","z":"","name":"zuHause","isValide":"true","longitude":"0","latitude":"0","angleType":"deg","timeZoneOffset":"99","timeZoneDST":"0","stateTimeFormat":"3","stateDateFormat":"12"}]