examples/time-span/1 - wiki - simple usage.json
[{"id":"44a3bc66.df24e4","type":"time-span","z":"603bc97f.7d3538","outputs":3,"name":"","positionConfig":"f4e23321.47893","operand1":"op1","operand1Type":"msg","operand1Format":"2","operand1Offset":0,"operand1OffsetType":"none","operand1OffsetMultiplier":60000,"operand2":"op2","operand2Type":"msg","operand2Format":"2","operand2Offset":0,"operand2OffsetType":"none","operand2OffsetMultiplier":60000,"rules":[{"operator":"1","operatorText":"==     (equal)","operandType":"num","operandValue":"10"},{"operator":"3","operatorText":">      (greater)","operandType":"num","operandValue":"564"}],"checkall":"true","result1":"","result1Type":"msgPayload","result1Value":"","result1ValueType":"timespan","result1TSFormat":1,"result1Format":"0","result1Offset":0,"result1OffsetType":"none","result1OffsetMultiplier":60000,"x":620,"y":810,"wires":[["de3e7814.f16588"],["49e4a0f4.925b4"],["eb2b4cf9.f8947"]]},{"id":"ee34df22.06513","type":"inject","z":"603bc97f.7d3538","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":810,"wires":[["fa01b1dc.f4a4e"]]},{"id":"de3e7814.f16588","type":"debug","z":"603bc97f.7d3538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":910,"y":800,"wires":[]},{"id":"49e4a0f4.925b4","type":"debug","z":"603bc97f.7d3538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":910,"y":840,"wires":[]},{"id":"eb2b4cf9.f8947","type":"debug","z":"603bc97f.7d3538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":910,"y":880,"wires":[]},{"id":"fa01b1dc.f4a4e","type":"change","z":"603bc97f.7d3538","name":"","rules":[{"t":"set","p":"op1","pt":"msg","to":"1.1.2013","tot":"str"},{"t":"set","p":"op2","pt":"msg","to":"1.1.2015","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":810,"wires":[["44a3bc66.df24e4"]]},{"id":"f4e23321.47893","type":"position-config","z":"","name":"","isValide":"true","longitude":"0","latitude":"0","angleType":"deg","timeZoneOffset":"99","timeZoneDST":"0","stateTimeFormat":"3","stateDateFormat":"2"}]