examples/time-span/2 - compare timestamps.json
[{"id":"8523346e.544108","type":"time-span","z":"603bc97f.7d3538","outputs":1,"name":"","positionConfig":"f4e23321.47893","operand1":"","operand1Type":"msgPayload","operand1Format":"0","operand1Offset":0,"operand1OffsetType":"none","operand1OffsetMultiplier":60000,"operand2":"","operand2Type":"date","operand2Format":"0","operand2Offset":0,"operand2OffsetType":"none","operand2OffsetMultiplier":60000,"rules":[],"checkall":"true","result1":"","result1Type":"msgPayload","result1Value":"","result1ValueType":"timespan","result1TSFormat":"1","result1Format":"0","result1Offset":0,"result1OffsetType":"none","result1OffsetMultiplier":60000,"x":430,"y":1080,"wires":[["8e2e7795.643508"]]},{"id":"c1745024.bfc64","type":"time-inject","z":"603bc97f.7d3538","name":"","nameInt":"UNIX timestamp (ms)","positionConfig":"14613f77.c25991","props":[{"p":"","pt":"msgPayload","v":"","vt":"dateSpecific","o":"1","oT":"num","oM":"60000","f":0,"fS":0,"fT":"UNIX timestamp (ms)","fI":"0","next":true,"days":"","months":"","onlyOddDays":false,"onlyEvenDays":false},{"p":"","pt":"msgTopic","v":"","vt":"str","o":"1","oT":"none","oM":"60000","f":0,"fS":0,"fT":"UNIX timestamp (ms)","fI":"0","next":false,"days":"","months":"","onlyOddDays":false,"onlyEvenDays":false}],"injectTypeSelect":"none","intervalCount":1,"intervalCountType":"num","intervalCountMultiplier":60000,"time":"","timeType":"entered","offset":0,"offsetType":"none","offsetMultiplier":60000,"timeEnd":"","timeEndType":"entered","timeEndOffset":0,"timeEndOffsetType":"num","timeEndOffsetMultiplier":60000,"timeDays":"*","timeOnlyOddDays":true,"timeOnlyEvenDays":true,"timeMonths":"*","timedatestart":"","timedateend":"","property":"","propertyType":"none","propertyCompare":"true","propertyThreshold":"","propertyThresholdType":"num","timeAlt":"","timeAltType":"entered","timeAltDays":"*","timeAltOnlyOddDays":true,"timeAltOnlyEvenDays":true,"timeAltMonths":"*","timeAltOffset":0,"timeAltOffsetType":"none","timeAltOffsetMultiplier":60000,"once":false,"onceDelay":0.1,"recalcTime":2,"x":180,"y":1080,"wires":[["8523346e.544108"]]},{"id":"8e2e7795.643508","type":"debug","z":"603bc97f.7d3538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":670,"y":1080,"wires":[]},{"id":"f4e23321.47893","type":"position-config","z":"","name":"","isValide":"true","longitude":"0","latitude":"0","angleType":"deg","timeZoneOffset":"99","timeZoneDST":"0","stateTimeFormat":"3","stateDateFormat":"2"},{"id":"14613f77.c25991","type":"position-config","z":"","name":"zuHause","isValide":"true","longitude":"0","latitude":"0","angleType":"deg","timeZoneOffset":"99","timeZoneDST":"0","stateTimeFormat":"3","stateDateFormat":"12"}]