examples/blind-control/wiki-2 with different times for weekend.json
[
    {
        "id": "926ad7eb.e545b8",
        "type": "group",
        "z": "9e1a7786.dff708",
        "name": "Example 2:",
        "style": {
            "label": true
        },
        "nodes": [
            "9f0b0d69.1ef08",
            "fd9184cc.03be78",
            "276df570.12c3da",
            "5f6c302b.62169",
            "4d67f26b.7eae7c",
            "64892aed.a13a44",
            "c39f19d5.200c58",
            "3e105732.ce5f08"
        ],
        "x": 344,
        "y": 3059,
        "w": 552,
        "h": 277
    },
    {
        "id": "9f0b0d69.1ef08",
        "type": "blind-control",
        "z": "9e1a7786.dff708",
        "g": "926ad7eb.e545b8",
        "name": "",
        "topic": "",
        "positionConfig": "",
        "outputs": 1,
        "autoTrigger": true,
        "autoTriggerTime": "600000",
        "startDelayTime": "0",
        "blindIncrement": "0.01",
        "blindOpenPos": "1",
        "blindClosedPos": 0,
        "blindPosDefault": "open (max)",
        "blindPosDefaultType": "levelFixed",
        "overwriteExpire": "14400000",
        "rules": [
            {
                "index": 0,
                "name": "",
                "timeValue": "6:30",
                "timeType": "entered",
                "timeOp": 0,
                "timeOpText": "↥ until",
                "offsetValue": "",
                "offsetType": "none",
                "multiplier": 60000,
                "timeMinValue": "",
                "timeMinType": "none",
                "offsetMinValue": "",
                "offsetMinType": "none",
                "multiplierMin": 60000,
                "timeMaxValue": "",
                "timeMaxType": "none",
                "offsetMaxValue": "",
                "offsetMaxType": "none",
                "multiplierMax": 60000,
                "levelValue": "closed (min)",
                "levelType": "levelFixed",
                "levelOp": 0,
                "levelOpText": "↕ absolute",
                "validOperandAValue": "",
                "validOperandAType": "none",
                "validOperator": "true",
                "validOperatorText": "is true",
                "validOperandBValue": "",
                "validOperandBType": "str",
                "valid2LogOperator": 0,
                "valid2LogOperatorText": "N/A",
                "valid2OperandAValue": "",
                "valid2OperandAType": "msg",
                "valid2Operator": "true",
                "valid2OperatorText": "is true",
                "valid2OperandBValue": "",
                "valid2OperandBType": "num",
                "description": "<div><i class=\"fa fa-clock-o\" aria-hidden=\"true\"></i> ↥ until 6:30</div><div>↕ absolute closed (min)</div>",
                "valid": {},
                "isValid": false,
                "importance": 0,
                "timeDays": "*",
                "timeMonths": "*",
                "timeOnlyOddDays": false,
                "timeOnlyEvenDays": false,
                "timeDateStart": "",
                "timeDateEnd": "",
                "timeMinOp": 0,
                "timeMaxOp": 0
            },
            {
                "index": 1,
                "name": "",
                "timeValue": "7:25",
                "timeType": "entered",
                "timeOp": 0,
                "timeOpText": "↥ until",
                "offsetValue": "",
                "offsetType": "none",
                "multiplier": 60000,
                "timeMinValue": "",
                "timeMinType": "none",
                "offsetMinValue": "",
                "offsetMinType": "none",
                "multiplierMin": 60000,
                "timeMaxValue": "",
                "timeMaxType": "none",
                "offsetMaxValue": "",
                "offsetMaxType": "none",
                "multiplierMax": 60000,
                "levelValue": "closed (min)",
                "levelType": "levelFixed",
                "levelOp": 0,
                "levelOpText": "↕ absolute",
                "validOperandAValue": "dayInfo.today.isWeekendOrHoliday",
                "validOperandAType": "flow",
                "validOperator": "true",
                "validOperatorText": "is true",
                "validOperandBValue": "",
                "validOperandBType": "str",
                "valid2LogOperator": 0,
                "valid2LogOperatorText": "N/A",
                "valid2OperandAValue": "",
                "valid2OperandAType": "msg",
                "valid2Operator": "true",
                "valid2OperatorText": "is true",
                "valid2OperandBValue": "",
                "valid2OperandBType": "num",
                "description": "<div><i class=\"fa fa-code-fork\" aria-hidden=\"true\"></i> flow....fo.today.isWeekendOrHoliday is true</div><div><i class=\"fa fa-clock-o\" aria-hidden=\"true\"></i> ↥ until 7:25</div><div>↕ absolute closed (min)</div>",
                "valid": {},
                "isValid": false,
                "importance": 0,
                "timeDays": "*",
                "timeMonths": "*",
                "timeOnlyOddDays": false,
                "timeOnlyEvenDays": false,
                "timeDateStart": "",
                "timeDateEnd": "",
                "timeMinOp": 0,
                "timeMaxOp": 0
            },
            {
                "index": 2,
                "name": "",
                "timeValue": "civilDawn",
                "timeType": "pdsTime",
                "timeOp": 0,
                "timeOpText": "↥ until",
                "offsetValue": "",
                "offsetType": "none",
                "multiplier": 60000,
                "timeMinValue": "",
                "timeMinType": "none",
                "offsetMinValue": "",
                "offsetMinType": "none",
                "multiplierMin": 60000,
                "timeMaxValue": "",
                "timeMaxType": "none",
                "offsetMaxValue": "",
                "offsetMaxType": "none",
                "multiplierMax": 60000,
                "levelValue": "closed (min)",
                "levelType": "levelFixed",
                "levelOp": 0,
                "levelOpText": "↕ absolute",
                "validOperandAValue": "",
                "validOperandAType": "none",
                "validOperator": "true",
                "validOperatorText": "is true",
                "validOperandBValue": "",
                "validOperandBType": "str",
                "valid2LogOperator": 0,
                "valid2LogOperatorText": "N/A",
                "valid2OperandAValue": "",
                "valid2OperandAType": "msg",
                "valid2Operator": "true",
                "valid2OperatorText": "is true",
                "valid2OperandBValue": "",
                "valid2OperandBType": "num",
                "description": "<div><i class=\"fa fa-clock-o\" aria-hidden=\"true\"></i> ↥ until civilDawn</div><div>↕ absolute closed (min)</div>",
                "valid": {},
                "isValid": false,
                "importance": 0,
                "timeDays": "*",
                "timeMonths": "*",
                "timeOnlyOddDays": false,
                "timeOnlyEvenDays": false,
                "timeDateStart": "",
                "timeDateEnd": "",
                "timeMinOp": 0,
                "timeMaxOp": 0
            },
            {
                "index": 3,
                "name": "",
                "timeValue": "civilDusk",
                "timeType": "pdsTime",
                "timeOp": 1,
                "timeOpText": "↧ from",
                "offsetValue": "",
                "offsetType": "none",
                "multiplier": 60000,
                "timeMinValue": "",
                "timeMinType": "none",
                "offsetMinValue": "",
                "offsetMinType": "none",
                "multiplierMin": 60000,
                "timeMaxValue": "",
                "timeMaxType": "none",
                "offsetMaxValue": "",
                "offsetMaxType": "none",
                "multiplierMax": 60000,
                "levelValue": "closed (min)",
                "levelType": "levelFixed",
                "levelOp": 0,
                "levelOpText": "↕ absolute",
                "validOperandAValue": "",
                "validOperandAType": "none",
                "validOperator": "true",
                "validOperatorText": "is true",
                "validOperandBValue": "",
                "validOperandBType": "str",
                "valid2LogOperator": 0,
                "valid2LogOperatorText": "N/A",
                "valid2OperandAValue": "",
                "valid2OperandAType": "msg",
                "valid2Operator": "true",
                "valid2OperatorText": "is true",
                "valid2OperandBValue": "",
                "valid2OperandBType": "num",
                "description": "<div><i class=\"fa fa-clock-o\" aria-hidden=\"true\"></i> ↧ from civilDusk</div><div>↕ absolute closed (min)</div>",
                "valid": {},
                "isValid": false,
                "importance": 0,
                "timeDays": "*",
                "timeMonths": "*",
                "timeOnlyOddDays": false,
                "timeOnlyEvenDays": false,
                "timeDateStart": "",
                "timeDateEnd": "",
                "timeMinOp": 0,
                "timeMaxOp": 0
            },
            {
                "index": 4,
                "name": "",
                "timeValue": "22:35",
                "timeType": "entered",
                "timeOp": 1,
                "timeOpText": "↧ from",
                "offsetValue": "",
                "offsetType": "none",
                "multiplier": 60000,
                "timeMinValue": "",
                "timeMinType": "none",
                "offsetMinValue": "",
                "offsetMinType": "none",
                "multiplierMin": 60000,
                "timeMaxValue": "",
                "timeMaxType": "none",
                "offsetMaxValue": "",
                "offsetMaxType": "none",
                "multiplierMax": 60000,
                "levelValue": "closed (min)",
                "levelType": "levelFixed",
                "levelOp": 0,
                "levelOpText": "↕ absolute",
                "validOperandAValue": "dayInfo.tomorrow.isWeekendOrHoliday",
                "validOperandAType": "flow",
                "validOperator": "false",
                "validOperatorText": "is false",
                "validOperandBValue": "",
                "validOperandBType": "str",
                "valid2LogOperator": 0,
                "valid2LogOperatorText": "N/A",
                "valid2OperandAValue": "",
                "valid2OperandAType": "msg",
                "valid2Operator": "true",
                "valid2OperatorText": "is true",
                "valid2OperandBValue": "",
                "valid2OperandBType": "num",
                "description": "<div><i class=\"fa fa-code-fork\" aria-hidden=\"true\"></i> flow....tomorrow.isWeekendOrHoliday is false</div><div><i class=\"fa fa-clock-o\" aria-hidden=\"true\"></i> ↧ from 22:35</div><div>↕ absolute closed (min)</div>",
                "valid": {},
                "isValid": false,
                "importance": 0,
                "timeDays": "*",
                "timeMonths": "*",
                "timeOnlyOddDays": false,
                "timeOnlyEvenDays": false,
                "timeDateStart": "",
                "timeDateEnd": "",
                "timeMinOp": 0,
                "timeMaxOp": 0
            },
            {
                "index": 5,
                "name": "",
                "timeValue": "23:15",
                "timeType": "entered",
                "timeOp": 1,
                "timeOpText": "↧ from",
                "offsetValue": "",
                "offsetType": "none",
                "multiplier": 60000,
                "timeMinValue": "",
                "timeMinType": "none",
                "offsetMinValue": "",
                "offsetMinType": "none",
                "multiplierMin": 60000,
                "timeMaxValue": "",
                "timeMaxType": "none",
                "offsetMaxValue": "",
                "offsetMaxType": "none",
                "multiplierMax": 60000,
                "levelValue": "closed (min)",
                "levelType": "levelFixed",
                "levelOp": 0,
                "levelOpText": "↕ absolute",
                "validOperandAValue": "",
                "validOperandAType": "none",
                "validOperator": "true",
                "validOperatorText": "is true",
                "validOperandBValue": "",
                "validOperandBType": "str",
                "valid2LogOperator": 0,
                "valid2LogOperatorText": "N/A",
                "valid2OperandAValue": "",
                "valid2OperandAType": "msg",
                "valid2Operator": "true",
                "valid2OperatorText": "is true",
                "valid2OperandBValue": "",
                "valid2OperandBType": "num",
                "description": "<div><i class=\"fa fa-clock-o\" aria-hidden=\"true\"></i> ↧ from 23:15</div><div>↕ absolute closed (min)</div>",
                "valid": {},
                "isValid": false,
                "importance": 0,
                "timeDays": "*",
                "timeMonths": "*",
                "timeOnlyOddDays": false,
                "timeOnlyEvenDays": false,
                "timeDateStart": "",
                "timeDateEnd": "",
                "timeMinOp": 0,
                "timeMaxOp": 0
            }
        ],
        "sunControlMode": "0",
        "sunFloorLength": "",
        "sunMinAltitude": "",
        "sunMinDelta": "",
        "blindPosMin": "closed (min)",
        "blindPosMinType": "levelFixed",
        "blindPosMax": "open (max)",
        "blindPosMaxType": "levelFixed",
        "smoothTime": "",
        "sunTopic": "",
        "windowTop": "",
        "windowBottom": "",
        "windowAzimuthStart": "",
        "windowAzimuthEnd": "",
        "oversteerValue": "",
        "oversteerValueType": "none",
        "oversteerCompare": "gte",
        "oversteerThreshold": "50",
        "oversteerThresholdType": "num",
        "oversteerBlindPos": "open (max)",
        "oversteerBlindPosType": "levelFixed",
        "oversteer2Value": "",
        "oversteer2ValueType": "none",
        "oversteer2Compare": "gte",
        "oversteer2Threshold": "",
        "oversteer2ThresholdType": "num",
        "oversteer2BlindPos": "open (max)",
        "oversteer2BlindPosType": "levelFixed",
        "oversteer3Value": "",
        "oversteer3ValueType": "none",
        "oversteer3Compare": "gte",
        "oversteer3Threshold": "",
        "oversteer3ThresholdType": "num",
        "oversteer3BlindPos": "open (max)",
        "oversteer3BlindPosType": "levelFixed",
        "oversteerTopic": "",
        "x": 520,
        "y": 3100,
        "wires": [
            [
                "fd9184cc.03be78"
            ]
        ]
    },
    {
        "id": "fd9184cc.03be78",
        "type": "debug",
        "z": "9e1a7786.dff708",
        "g": "926ad7eb.e545b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 735,
        "y": 3100,
        "wires": []
    },
    {
        "id": "276df570.12c3da",
        "type": "change",
        "z": "9e1a7786.dff708",
        "g": "926ad7eb.e545b8",
        "name": "dayInfo.today.isWeekendOrHoliday",
        "rules": [
            {
                "t": "set",
                "p": "dayInfo.today.isWeekendOrHoliday",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 3160,
        "wires": [
            []
        ]
    },
    {
        "id": "5f6c302b.62169",
        "type": "inject",
        "z": "9e1a7786.dff708",
        "g": "926ad7eb.e545b8",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 440,
        "y": 3160,
        "wires": [
            [
                "276df570.12c3da"
            ]
        ]
    },
    {
        "id": "4d67f26b.7eae7c",
        "type": "inject",
        "z": "9e1a7786.dff708",
        "g": "926ad7eb.e545b8",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 440,
        "y": 3205,
        "wires": [
            [
                "276df570.12c3da"
            ]
        ]
    },
    {
        "id": "64892aed.a13a44",
        "type": "change",
        "z": "9e1a7786.dff708",
        "g": "926ad7eb.e545b8",
        "name": "dayInfo.tomorrow.isWeekendOrHoliday",
        "rules": [
            {
                "t": "set",
                "p": "dayInfo.tomorrow.isWeekendOrHoliday",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 3250,
        "wires": [
            []
        ]
    },
    {
        "id": "c39f19d5.200c58",
        "type": "inject",
        "z": "9e1a7786.dff708",
        "g": "926ad7eb.e545b8",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 440,
        "y": 3250,
        "wires": [
            [
                "64892aed.a13a44"
            ]
        ]
    },
    {
        "id": "3e105732.ce5f08",
        "type": "inject",
        "z": "9e1a7786.dff708",
        "g": "926ad7eb.e545b8",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 440,
        "y": 3295,
        "wires": [
            [
                "64892aed.a13a44"
            ]
        ]
    }
]