examples/blind-control/wiki-3 overrides and sun-position.json
[
    {
        "id": "aae4e74b.890ad8",
        "type": "group",
        "z": "9e1a7786.dff708",
        "name": "Example 3:",
        "style": {
            "label": true
        },
        "nodes": [
            "e9dd0842.1af178",
            "45036313.db7dcc",
            "a8cfd4d.9af3c28",
            "75914074.c8629",
            "8ce279e8.731418",
            "99a18ac2.0bfe08",
            "127a140f.61613c",
            "bf647269.bfee2",
            "61e24b9a.971464",
            "4088273c.dc5af8",
            "292af211.57f12e",
            "8456fddc.63e15",
            "4ef781c7.c8b9a",
            "df6bfa2b.b65ae8",
            "e22bf2e7.8d57f",
            "f5439f90.11cfe",
            "4b25a2b9.5062dc"
        ],
        "x": 204,
        "y": 3494,
        "w": 1027,
        "h": 397
    },
    {
        "id": "e9dd0842.1af178",
        "type": "function",
        "z": "9e1a7786.dff708",
        "g": "aae4e74b.890ad8",
        "name": "30min 1sec",
        "func": "\nconst minutesEachLoop = 30; // minutes to add\nconst loopCycle = 1; // seconds delay\nlet timeObj = context.get(\"timeObj\");\n\nif (timeObj && msg.topic.includes('stop')) {\n    clearInterval(timeObj);\n    context.set(\"timeObj\", null);\n    context.set(\"orgtopic\", null);\n    let d = new Date(context.get(\"date\"));\n    node.log(\"STOP    \" + d.toLocaleTimeString() + ' ####################################### payload='+msg.payload+' topic='+msg.topic);\n    node.log('<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< ' + d.toISOString());\n    node.status({fill:\"red\",shape:\"ring\",text:\"stopped - \" + d.toLocaleTimeString()});\n    return null;\n} else if (!timeObj && msg.topic.includes('start')) {\n    context.set(\"message\", msg);\n    context.set(\"orgtopic\", msg.topic);\n    let d = new Date();\n    let num = Number(msg.payload);\n    if (isNaN(num) && num < 24) {\n        d.setHours(num);\n        d.setMinutes(0);\n    } else {\n        let dt = new Date(msg.payload);\n        if (dt instanceof Date && !isNaN(dt)) {\n            d = dt;\n        } else {\n            d.setHours(0);\n            d.setMinutes(0);\n        }\n    }\n    context.set(\"date\", d.getTime());\n    msg.tsISO = d.toISOString();\n    msg.ts = d.getTime();\n    msg.topic += ' ' + d.toLocaleTimeString();\n    node.log('>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>');\n    node.log(\"START   \" + d.toLocaleTimeString() + ' ####################################### payload='+msg.payload+' topic='+msg.topic);\n    node.send(msg);\n\n    let timeObj = setInterval(function(){\n        let msg = context.get(\"message\");\n        let topic = context.get(\"orgtopic\");\n        let d = new Date(context.get(\"date\"));\n        //d.setHours(d.getHours()+1);\n        let dt = d.getDate();\n        let dm = d.getMonth();\n        d.setMinutes(d.getMinutes() + minutesEachLoop)\n        d.setDate(dt);\n        d.getMonth(dm);\n        context.set(\"date\", d.getTime());\n        msg.tsISO = d.toISOString();\n        msg.ts = d.getTime();\n        msg.topic = topic + ' ' + d.toLocaleTimeString();\n        node.status({fill:\"green\",shape:\"dot\",text:\"run - \" + d.toLocaleTimeString()});\n        node.log(\"sending \" + d.toLocaleTimeString() + ' ####################################### payload='+msg.payload+' topic='+msg.topic);\n        node.send(msg);\n\t}, (1000 * loopCycle));\n    context.set(\"timeObj\", timeObj);\n    node.status({fill:\"green\",shape:\"ring\",text:\"start - \" + d.toLocaleTimeString()});\n    return null;\n}\n\nlet d = new Date(context.get(\"date\"));\nif (!(d instanceof Date) || isNaN(d)) {\n    d = new Date();\n}\nd.setMinutes(d.getMinutes() + 1)\n//d.setHours(d.getHours()+1);\nmsg.tsISO = d.toISOString();\nmsg.ts = d.getTime();\nmsg.topic += ' ' + d.toLocaleTimeString();\nnode.status({fill:\"yellow\",shape:\"dot\",text:\"interposed - \" + d.toLocaleTimeString() + ' - ' + msg.payload});\nnode.log(\"sending interposed msg \" + d.toLocaleTimeString() + ' ####################################### payload='+msg.payload+' topic='+msg.topic);\nnode.send(msg);\nreturn null;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 650,
        "y": 3580,
        "wires": [
            [
                "4088273c.dc5af8"
            ]
        ]
    },
    {
        "id": "45036313.db7dcc",
        "type": "inject",
        "z": "9e1a7786.dff708",
        "g": "aae4e74b.890ad8",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "start/stop",
        "payload": "0",
        "payloadType": "num",
        "x": 355,
        "y": 3535,
        "wires": [
            [
                "e9dd0842.1af178"
            ]
        ]
    },
    {
        "id": "a8cfd4d.9af3c28",
        "type": "inject",
        "z": "9e1a7786.dff708",
        "g": "aae4e74b.890ad8",
        "name": "reset",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "resetOverwrite",
        "payload": "true",
        "payloadType": "bool",
        "x": 330,
        "y": 3625,
        "wires": [
            [
                "e9dd0842.1af178"
            ]
        ]
    },
    {
        "id": "75914074.c8629",
        "type": "inject",
        "z": "9e1a7786.dff708",
        "g": "aae4e74b.890ad8",
        "name": "0%",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "levelOverwrite",
        "payload": "0",
        "payloadType": "num",
        "x": 330,
        "y": 3665,
        "wires": [
            [
                "e9dd0842.1af178"
            ]
        ]
    },
    {
        "id": "8ce279e8.731418",
        "type": "inject",
        "z": "9e1a7786.dff708",
        "g": "aae4e74b.890ad8",
        "name": "60%",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "levelOverwrite",
        "payload": "0.6",
        "payloadType": "num",
        "x": 330,
        "y": 3710,
        "wires": [
            [
                "e9dd0842.1af178"
            ]
        ]
    },
    {
        "id": "99a18ac2.0bfe08",
        "type": "comment",
        "z": "9e1a7786.dff708",
        "g": "aae4e74b.890ad8",
        "name": "manual overrides:",
        "info": "",
        "x": 325,
        "y": 3580,
        "wires": []
    },
    {
        "id": "127a140f.61613c",
        "type": "inject",
        "z": "9e1a7786.dff708",
        "g": "aae4e74b.890ad8",
        "name": "90%, expire 2,5s",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"position\":0.9,\"expire\":2500}",
        "payloadType": "json",
        "x": 360,
        "y": 3760,
        "wires": [
            [
                "e9dd0842.1af178"
            ]
        ]
    },
    {
        "id": "bf647269.bfee2",
        "type": "inject",
        "z": "9e1a7786.dff708",
        "g": "aae4e74b.890ad8",
        "name": "30% importance 1",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"position\":0.3,\"importance\":1}",
        "payloadType": "json",
        "x": 340,
        "y": 3805,
        "wires": [
            [
                "e9dd0842.1af178"
            ]
        ]
    },
    {
        "id": "61e24b9a.971464",
        "type": "inject",
        "z": "9e1a7786.dff708",
        "g": "aae4e74b.890ad8",
        "name": "100% importance 1",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"importance\":1, \"position\":1}",
        "payloadType": "json",
        "x": 350,
        "y": 3850,
        "wires": [
            [
                "e9dd0842.1af178"
            ]
        ]
    },
    {
        "id": "4088273c.dc5af8",
        "type": "blind-control",
        "z": "9e1a7786.dff708",
        "g": "aae4e74b.890ad8",
        "name": "",
        "topic": "",
        "positionConfig": "",
        "outputs": 1,
        "autoTrigger": false,
        "autoTriggerTime": "1200000",
        "startDelayTime": "0",
        "blindIncrement": "0.01",
        "blindOpenPos": "1",
        "blindClosedPos": 0,
        "blindPosDefault": "open (max)",
        "blindPosDefaultType": "levelFixed",
        "overwriteExpire": "7200000",
        "rules": [
            {
                "index": 0,
                "name": "",
                "timeValue": "5:30",
                "timeType": "entered",
                "timeOp": 0,
                "timeOpText": "↥ until",
                "offsetValue": "",
                "offsetType": "none",
                "multiplier": 1,
                "timeMinValue": "",
                "timeMinType": "none",
                "offsetMinValue": "",
                "offsetMinType": "none",
                "multiplierMin": 60000,
                "timeMaxValue": "",
                "timeMaxType": "none",
                "offsetMaxValue": "",
                "offsetMaxType": "none",
                "multiplierMax": 60000,
                "levelValue": "closed (min)",
                "levelType": "levelFixed",
                "levelOp": 0,
                "levelOpText": "↕ absolute",
                "validOperandAValue": "",
                "validOperandAType": "none",
                "validOperator": "true",
                "validOperatorText": "is true",
                "validOperandBValue": "",
                "validOperandBType": "str",
                "valid2LogOperator": 0,
                "valid2LogOperatorText": "N/A",
                "valid2OperandAValue": "",
                "valid2OperandAType": "msg",
                "valid2Operator": "true",
                "valid2OperatorText": "is true",
                "valid2OperandBValue": "",
                "valid2OperandBType": "num",
                "description": "<div><i class=\"fa fa-clock-o\" aria-hidden=\"true\"></i> ↥ until 5:30</div><div>↕ absolute closed (min)</div>",
                "valid": {},
                "isValid": false,
                "importance": 0,
                "timeDays": "*",
                "timeMonths": "*",
                "timeOnlyOddDays": false,
                "timeOnlyEvenDays": false,
                "timeDateStart": "",
                "timeDateEnd": "",
                "timeMinOp": 0,
                "timeMaxOp": 0
            },
            {
                "index": 1,
                "name": "",
                "timeValue": "7:25",
                "timeType": "entered",
                "timeOp": 0,
                "timeOpText": "↥ until",
                "offsetValue": "",
                "offsetType": "none",
                "multiplier": 1,
                "timeMinValue": "",
                "timeMinType": "none",
                "offsetMinValue": "",
                "offsetMinType": "none",
                "multiplierMin": 60000,
                "timeMaxValue": "",
                "timeMaxType": "none",
                "offsetMaxValue": "",
                "offsetMaxType": "none",
                "multiplierMax": 60000,
                "levelValue": "closed (min)",
                "levelType": "levelFixed",
                "levelOp": 0,
                "levelOpText": "↕ absolute",
                "validOperandAValue": "dayInfo.today.isWeekendOrHoliday",
                "validOperandAType": "flow",
                "validOperator": "true",
                "validOperatorText": "is true",
                "validOperandBValue": "",
                "validOperandBType": "str",
                "valid2LogOperator": 0,
                "valid2LogOperatorText": "N/A",
                "valid2OperandAValue": "",
                "valid2OperandAType": "msg",
                "valid2Operator": "true",
                "valid2OperatorText": "is true",
                "valid2OperandBValue": "",
                "valid2OperandBType": "num",
                "description": "<div><i class=\"fa fa-code-fork\" aria-hidden=\"true\"></i> flow....fo.today.isWeekendOrHoliday is true</div><div><i class=\"fa fa-clock-o\" aria-hidden=\"true\"></i> ↥ until 7:25</div><div>↕ absolute closed (min)</div>",
                "valid": {},
                "isValid": false,
                "importance": 0,
                "timeDays": "*",
                "timeMonths": "*",
                "timeOnlyOddDays": false,
                "timeOnlyEvenDays": false,
                "timeDateStart": "",
                "timeDateEnd": "",
                "timeMinOp": 0,
                "timeMaxOp": 0
            },
            {
                "index": 2,
                "name": "",
                "timeValue": "civilDawn",
                "timeType": "pdsTime",
                "timeOp": 0,
                "timeOpText": "↥ until",
                "offsetValue": "",
                "offsetType": "none",
                "multiplier": 1,
                "timeMinValue": "",
                "timeMinType": "none",
                "offsetMinValue": "",
                "offsetMinType": "none",
                "multiplierMin": 60000,
                "timeMaxValue": "",
                "timeMaxType": "none",
                "offsetMaxValue": "",
                "offsetMaxType": "none",
                "multiplierMax": 60000,
                "levelValue": "closed (min)",
                "levelType": "levelFixed",
                "levelOp": 0,
                "levelOpText": "↕ absolute",
                "validOperandAValue": "",
                "validOperandAType": "none",
                "validOperator": "true",
                "validOperatorText": "is true",
                "validOperandBValue": "",
                "validOperandBType": "str",
                "valid2LogOperator": 0,
                "valid2LogOperatorText": "N/A",
                "valid2OperandAValue": "",
                "valid2OperandAType": "msg",
                "valid2Operator": "true",
                "valid2OperatorText": "is true",
                "valid2OperandBValue": "",
                "valid2OperandBType": "num",
                "description": "<div><i class=\"fa fa-clock-o\" aria-hidden=\"true\"></i> ↥ until civilDawn</div><div>↕ absolute closed (min)</div>",
                "valid": {},
                "isValid": false,
                "importance": 0,
                "timeDays": "*",
                "timeMonths": "*",
                "timeOnlyOddDays": false,
                "timeOnlyEvenDays": false,
                "timeDateStart": "",
                "timeDateEnd": "",
                "timeMinOp": 0,
                "timeMaxOp": 0
            },
            {
                "index": 3,
                "name": "",
                "timeValue": "civilDusk",
                "timeType": "pdsTime",
                "timeOp": 1,
                "timeOpText": "↧ from",
                "offsetValue": "",
                "offsetType": "none",
                "multiplier": 1,
                "timeMinValue": "",
                "timeMinType": "none",
                "offsetMinValue": "",
                "offsetMinType": "none",
                "multiplierMin": 60000,
                "timeMaxValue": "",
                "timeMaxType": "none",
                "offsetMaxValue": "",
                "offsetMaxType": "none",
                "multiplierMax": 60000,
                "levelValue": "closed (min)",
                "levelType": "levelFixed",
                "levelOp": 0,
                "levelOpText": "↕ absolute",
                "validOperandAValue": "",
                "validOperandAType": "none",
                "validOperator": "true",
                "validOperatorText": "is true",
                "validOperandBValue": "",
                "validOperandBType": "str",
                "valid2LogOperator": 0,
                "valid2LogOperatorText": "N/A",
                "valid2OperandAValue": "",
                "valid2OperandAType": "msg",
                "valid2Operator": "true",
                "valid2OperatorText": "is true",
                "valid2OperandBValue": "",
                "valid2OperandBType": "num",
                "description": "<div><i class=\"fa fa-clock-o\" aria-hidden=\"true\"></i> ↧ from civilDusk</div><div>↕ absolute closed (min)</div>",
                "valid": {},
                "isValid": false,
                "importance": 0,
                "timeDays": "*",
                "timeMonths": "*",
                "timeOnlyOddDays": false,
                "timeOnlyEvenDays": false,
                "timeDateStart": "",
                "timeDateEnd": "",
                "timeMinOp": 0,
                "timeMaxOp": 0
            },
            {
                "index": 4,
                "name": "",
                "timeValue": "21:25",
                "timeType": "entered",
                "timeOp": 1,
                "timeOpText": "↧ from",
                "offsetValue": "",
                "offsetType": "none",
                "multiplier": 1,
                "timeMinValue": "",
                "timeMinType": "none",
                "offsetMinValue": "",
                "offsetMinType": "none",
                "multiplierMin": 60000,
                "timeMaxValue": "",
                "timeMaxType": "none",
                "offsetMaxValue": "",
                "offsetMaxType": "none",
                "multiplierMax": 60000,
                "levelValue": "closed (min)",
                "levelType": "levelFixed",
                "levelOp": 0,
                "levelOpText": "↕ absolute",
                "validOperandAValue": "dayInfo.tomorrow.isWeekendOrHoliday",
                "validOperandAType": "flow",
                "validOperator": "false",
                "validOperatorText": "is false",
                "validOperandBValue": "",
                "validOperandBType": "str",
                "valid2LogOperator": 0,
                "valid2LogOperatorText": "N/A",
                "valid2OperandAValue": "",
                "valid2OperandAType": "msg",
                "valid2Operator": "true",
                "valid2OperatorText": "is true",
                "valid2OperandBValue": "",
                "valid2OperandBType": "num",
                "description": "<div><i class=\"fa fa-code-fork\" aria-hidden=\"true\"></i> flow....tomorrow.isWeekendOrHoliday is false</div><div><i class=\"fa fa-clock-o\" aria-hidden=\"true\"></i> ↧ from 21:25</div><div>↕ absolute closed (min)</div>",
                "valid": {},
                "isValid": false,
                "importance": 0,
                "timeDays": "*",
                "timeMonths": "*",
                "timeOnlyOddDays": false,
                "timeOnlyEvenDays": false,
                "timeDateStart": "",
                "timeDateEnd": "",
                "timeMinOp": 0,
                "timeMaxOp": 0
            },
            {
                "index": 5,
                "name": "",
                "timeValue": "23:15",
                "timeType": "entered",
                "timeOp": 1,
                "timeOpText": "↧ from",
                "offsetValue": "",
                "offsetType": "none",
                "multiplier": 1,
                "timeMinValue": "",
                "timeMinType": "none",
                "offsetMinValue": "",
                "offsetMinType": "none",
                "multiplierMin": 60000,
                "timeMaxValue": "",
                "timeMaxType": "none",
                "offsetMaxValue": "",
                "offsetMaxType": "none",
                "multiplierMax": 60000,
                "levelValue": "closed (min)",
                "levelType": "levelFixed",
                "levelOp": 0,
                "levelOpText": "↕ absolute",
                "validOperandAValue": "",
                "validOperandAType": "none",
                "validOperator": "true",
                "validOperatorText": "is true",
                "validOperandBValue": "",
                "validOperandBType": "str",
                "valid2LogOperator": 0,
                "valid2LogOperatorText": "N/A",
                "valid2OperandAValue": "",
                "valid2OperandAType": "msg",
                "valid2Operator": "true",
                "valid2OperatorText": "is true",
                "valid2OperandBValue": "",
                "valid2OperandBType": "num",
                "description": "<div><i class=\"fa fa-clock-o\" aria-hidden=\"true\"></i> ↧ from 23:15</div><div>↕ absolute closed (min)</div>",
                "valid": {},
                "isValid": false,
                "importance": 0,
                "timeDays": "*",
                "timeMonths": "*",
                "timeOnlyOddDays": false,
                "timeOnlyEvenDays": false,
                "timeDateStart": "",
                "timeDateEnd": "",
                "timeMinOp": 0,
                "timeMaxOp": 0
            }
        ],
        "sunControlMode": "2",
        "sunFloorLength": "0.6",
        "sunMinAltitude": "",
        "sunMinDelta": "",
        "blindPosMin": "closed (min)",
        "blindPosMinType": "levelFixed",
        "blindPosMax": "open (max)",
        "blindPosMaxType": "levelFixed",
        "smoothTime": "",
        "sunTopic": "",
        "windowTop": "1.28",
        "windowBottom": "0",
        "windowAzimuthStart": "70",
        "windowAzimuthEnd": "150",
        "oversteerValue": "",
        "oversteerValueType": "none",
        "oversteerCompare": "gte",
        "oversteerThreshold": "50",
        "oversteerThresholdType": "num",
        "oversteerBlindPos": "open (max)",
        "oversteerBlindPosType": "levelFixed",
        "oversteer2Value": "",
        "oversteer2ValueType": "none",
        "oversteer2Compare": "gte",
        "oversteer2Threshold": "",
        "oversteer2ThresholdType": "num",
        "oversteer2BlindPos": "open (max)",
        "oversteer2BlindPosType": "levelFixed",
        "oversteer3Value": "",
        "oversteer3ValueType": "none",
        "oversteer3Compare": "gte",
        "oversteer3Threshold": "",
        "oversteer3ThresholdType": "num",
        "oversteer3BlindPos": "open (max)",
        "oversteer3BlindPosType": "levelFixed",
        "oversteerTopic": "",
        "x": 870,
        "y": 3580,
        "wires": [
            [
                "292af211.57f12e"
            ]
        ]
    },
    {
        "id": "292af211.57f12e",
        "type": "debug",
        "z": "9e1a7786.dff708",
        "g": "aae4e74b.890ad8",
        "name": "Blind position",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1115,
        "y": 3580,
        "wires": []
    },
    {
        "id": "8456fddc.63e15",
        "type": "change",
        "z": "9e1a7786.dff708",
        "g": "aae4e74b.890ad8",
        "name": "dayInfo.today.isWeekendOrHoliday",
        "rules": [
            {
                "t": "set",
                "p": "dayInfo.today.isWeekendOrHoliday",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 915,
        "y": 3715,
        "wires": [
            []
        ]
    },
    {
        "id": "4ef781c7.c8b9a",
        "type": "inject",
        "z": "9e1a7786.dff708",
        "g": "aae4e74b.890ad8",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 645,
        "y": 3715,
        "wires": [
            [
                "8456fddc.63e15"
            ]
        ]
    },
    {
        "id": "df6bfa2b.b65ae8",
        "type": "inject",
        "z": "9e1a7786.dff708",
        "g": "aae4e74b.890ad8",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 645,
        "y": 3760,
        "wires": [
            [
                "8456fddc.63e15"
            ]
        ]
    },
    {
        "id": "e22bf2e7.8d57f",
        "type": "change",
        "z": "9e1a7786.dff708",
        "g": "aae4e74b.890ad8",
        "name": "dayInfo.tomorrow.isWeekendOrHoliday",
        "rules": [
            {
                "t": "set",
                "p": "dayInfo.tomorrow.isWeekendOrHoliday",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 925,
        "y": 3805,
        "wires": [
            []
        ]
    },
    {
        "id": "f5439f90.11cfe",
        "type": "inject",
        "z": "9e1a7786.dff708",
        "g": "aae4e74b.890ad8",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 645,
        "y": 3805,
        "wires": [
            [
                "e22bf2e7.8d57f"
            ]
        ]
    },
    {
        "id": "4b25a2b9.5062dc",
        "type": "inject",
        "z": "9e1a7786.dff708",
        "g": "aae4e74b.890ad8",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 645,
        "y": 3850,
        "wires": [
            [
                "e22bf2e7.8d57f"
            ]
        ]
    }
]