examples/blind-control/wiki-4 usage of message properties.json
[
    {
        "id": "36a278a8.1d1df8",
        "type": "group",
        "z": "9e1a7786.dff708",
        "name": "Example 4:",
        "style": {
            "label": true
        },
        "nodes": [
            "b1a35885.089b38",
            "931b71c6.31c18",
            "8cc8295d.535a98",
            "d90bf98d.d851b8",
            "ce1bfb37.e1e668",
            "e367d9e9.0c39f8",
            "40aac8dc.6d4e38",
            "c02c44c8.01dbb8",
            "5b3ce7b8.191ac8",
            "bb9ca641.5cf4a8",
            "e92d6413.317dc8",
            "60ed6aa.786c594",
            "512d7d7c.cc4324",
            "5274fe0b.5c87b",
            "5f5128b8.b203b8",
            "7b462ced.4cb384",
            "ad40d513.0245c8",
            "b1237bf5.0feeb8",
            "3d75aed5.6e8442",
            "9ded5223.d994f",
            "bf7f9c40.0ee1a",
            "df4683fb.c9728",
            "5d4d287b.8ac1f8",
            "bab47071.c4815",
            "8268cecb.a1615"
        ],
        "x": 204,
        "y": 4024,
        "w": 1032,
        "h": 547
    },
    {
        "id": "b1a35885.089b38",
        "type": "function",
        "z": "9e1a7786.dff708",
        "g": "36a278a8.1d1df8",
        "name": "30min 0.5sec",
        "func": "\nconst minutesEachLoop = 30; // minutes to add\nconst loopCycle = 0.5; // seconds delay\nlet timeObj = context.get(\"timeObj\");\n\nif (timeObj && msg.topic.includes('stop')) {\n    clearInterval(timeObj);\n    context.set(\"timeObj\", null);\n    context.set(\"orgtopic\", null);\n    let d = new Date(context.get(\"date\"));\n    node.log(\"STOP    \" + d.toLocaleTimeString() + ' ####################################### payload='+msg.payload+' topic='+msg.topic);\n    node.log('<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< ' + d.toISOString());\n    node.status({fill:\"red\",shape:\"ring\",text:\"stopped - \" + d.toLocaleTimeString()});\n    return null;\n} else if (!timeObj && msg.topic.includes('start')) {\n    context.set(\"message\", msg);\n    context.set(\"orgtopic\", msg.topic);\n    let d = new Date();\n    let num = Number(msg.payload);\n    if (isNaN(num) && num < 24) {\n        d.setHours(num);\n        d.setMinutes(0);\n    } else {\n        let dt = new Date(msg.payload);\n        if (dt instanceof Date && !isNaN(dt)) {\n            d = dt;\n        } else {\n            d.setHours(0);\n            d.setMinutes(0);\n        }\n    }\n    context.set(\"date\", d.getTime());\n    msg.tsISO = d.toISOString();\n    msg.ts = d.getTime();\n    msg.topic += ' ' + d.toLocaleTimeString();\n    node.log('>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>');\n    node.log(\"START   \" + d.toLocaleTimeString() + ' ####################################### payload='+msg.payload+' topic='+msg.topic);\n    node.send(msg);\n\n    let timeObj = setInterval(function(){\n        let msg = context.get(\"message\");\n        let topic = context.get(\"orgtopic\");\n        let d = new Date(context.get(\"date\"));\n        //d.setHours(d.getHours()+1);\n        let dt = d.getDate();\n        let dm = d.getMonth();\n        d.setMinutes(d.getMinutes() + minutesEachLoop)\n        d.setDate(dt);\n        d.getMonth(dm);\n        context.set(\"date\", d.getTime());\n        msg.tsISO = d.toISOString();\n        msg.ts = d.getTime();\n        msg.topic = topic + ' ' + d.toLocaleTimeString();\n        node.status({fill:\"green\",shape:\"dot\",text:\"run - \" + d.toLocaleTimeString()});\n        node.log(\"sending \" + d.toLocaleTimeString() + ' ####################################### payload='+msg.payload+' topic='+msg.topic);\n        node.send(msg);\n\t}, (1000 * loopCycle));\n    context.set(\"timeObj\", timeObj);\n    node.status({fill:\"green\",shape:\"ring\",text:\"start - \" + d.toLocaleTimeString()});\n    return null;\n}\n\nlet d = new Date(context.get(\"date\"));\nif (!(d instanceof Date) || isNaN(d)) {\n    d = new Date();\n}\nd.setMinutes(d.getMinutes() + 1)\n//d.setHours(d.getHours()+1);\nmsg.tsISO = d.toISOString();\nmsg.ts = d.getTime();\nmsg.topic += ' ' + d.toLocaleTimeString();\nnode.status({fill:\"yellow\",shape:\"dot\",text:\"interposed - \" + d.toLocaleTimeString() + ' - ' + msg.payload});\nnode.log(\"sending interposed msg \" + d.toLocaleTimeString() + ' ####################################### payload='+msg.payload+' topic='+msg.topic);\nnode.send(msg);\nreturn null;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 650,
        "y": 4140,
        "wires": [
            [
                "bb9ca641.5cf4a8"
            ]
        ]
    },
    {
        "id": "931b71c6.31c18",
        "type": "inject",
        "z": "9e1a7786.dff708",
        "g": "36a278a8.1d1df8",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "start/stop",
        "payload": "0",
        "payloadType": "num",
        "x": 355,
        "y": 4095,
        "wires": [
            [
                "b1a35885.089b38"
            ]
        ]
    },
    {
        "id": "8cc8295d.535a98",
        "type": "inject",
        "z": "9e1a7786.dff708",
        "g": "36a278a8.1d1df8",
        "name": "reset",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "resetOverwrite",
        "payload": "true",
        "payloadType": "bool",
        "x": 330,
        "y": 4185,
        "wires": [
            [
                "b1a35885.089b38"
            ]
        ]
    },
    {
        "id": "d90bf98d.d851b8",
        "type": "inject",
        "z": "9e1a7786.dff708",
        "g": "36a278a8.1d1df8",
        "name": "0%",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "levelOverwrite",
        "payload": "0",
        "payloadType": "num",
        "x": 330,
        "y": 4225,
        "wires": [
            [
                "b1a35885.089b38"
            ]
        ]
    },
    {
        "id": "ce1bfb37.e1e668",
        "type": "inject",
        "z": "9e1a7786.dff708",
        "g": "36a278a8.1d1df8",
        "name": "60%",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "levelOverwrite",
        "payload": "0.6",
        "payloadType": "num",
        "x": 330,
        "y": 4270,
        "wires": [
            [
                "b1a35885.089b38"
            ]
        ]
    },
    {
        "id": "e367d9e9.0c39f8",
        "type": "comment",
        "z": "9e1a7786.dff708",
        "g": "36a278a8.1d1df8",
        "name": "manual overrides:",
        "info": "",
        "x": 325,
        "y": 4140,
        "wires": []
    },
    {
        "id": "40aac8dc.6d4e38",
        "type": "inject",
        "z": "9e1a7786.dff708",
        "g": "36a278a8.1d1df8",
        "name": "90%, expire 2,5s",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"position\":0.9,\"expire\":2500}",
        "payloadType": "json",
        "x": 360,
        "y": 4320,
        "wires": [
            [
                "b1a35885.089b38"
            ]
        ]
    },
    {
        "id": "c02c44c8.01dbb8",
        "type": "inject",
        "z": "9e1a7786.dff708",
        "g": "36a278a8.1d1df8",
        "name": "30% importance 1",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"position\":0.3,\"importance\":1}",
        "payloadType": "json",
        "x": 340,
        "y": 4365,
        "wires": [
            [
                "b1a35885.089b38"
            ]
        ]
    },
    {
        "id": "5b3ce7b8.191ac8",
        "type": "inject",
        "z": "9e1a7786.dff708",
        "g": "36a278a8.1d1df8",
        "name": "100% importance 1",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"importance\":1, \"position\":1}",
        "payloadType": "json",
        "x": 350,
        "y": 4410,
        "wires": [
            [
                "b1a35885.089b38"
            ]
        ]
    },
    {
        "id": "bb9ca641.5cf4a8",
        "type": "blind-control",
        "z": "9e1a7786.dff708",
        "g": "36a278a8.1d1df8",
        "name": "",
        "topic": "",
        "positionConfig": "",
        "outputs": 1,
        "autoTrigger": false,
        "autoTriggerTime": "1200000",
        "startDelayTime": "0",
        "blindIncrement": "0.01",
        "blindOpenPos": "1",
        "blindClosedPos": 0,
        "blindPosDefault": "open (max)",
        "blindPosDefaultType": "levelFixed",
        "overwriteExpire": "7200000",
        "rules": [
            {
                "index": 0,
                "name": "",
                "timeValue": "",
                "timeType": "none",
                "timeOp": 0,
                "timeOpText": "↥ until",
                "offsetValue": "",
                "offsetType": "none",
                "multiplier": 60000,
                "timeMinValue": "",
                "timeMinType": "none",
                "offsetMinValue": "",
                "offsetMinType": "none",
                "multiplierMin": 60000,
                "timeMaxValue": "",
                "timeMaxType": "none",
                "offsetMaxValue": "",
                "offsetMaxType": "none",
                "multiplierMax": 60000,
                "levelValue": "10%",
                "levelType": "levelFixed",
                "levelOp": 1,
                "levelOpText": "⭳❗ minimum (oversteer)",
                "validOperandAValue": "windowOpen",
                "validOperandAType": "msg",
                "validOperator": "true",
                "validOperatorText": "is true",
                "validOperandBValue": "windowOpen",
                "validOperandBType": "str",
                "valid2LogOperator": 0,
                "valid2LogOperatorText": "N/A",
                "valid2OperandAValue": "",
                "valid2OperandAType": "msg",
                "valid2Operator": "true",
                "valid2OperatorText": "is true",
                "valid2OperandBValue": "",
                "valid2OperandBType": "num",
                "description": "<div><i class=\"fa fa-code-fork\" aria-hidden=\"true\"></i> msg.windowOpen is true</div><div>⭳❗ minimum (oversteer) 10%</div>",
                "valid": {},
                "isValid": false,
                "importance": 0,
                "timeDays": "*",
                "timeMonths": "*",
                "timeOnlyOddDays": false,
                "timeOnlyEvenDays": false,
                "timeDateStart": "",
                "timeDateEnd": "",
                "timeMinOp": 0,
                "timeMaxOp": 0
            },
            {
                "index": 1,
                "name": "",
                "timeValue": "5:30",
                "timeType": "entered",
                "timeOp": 0,
                "timeOpText": "↥ until",
                "offsetValue": "",
                "offsetType": "none",
                "multiplier": 60000,
                "timeMinValue": "",
                "timeMinType": "none",
                "offsetMinValue": "",
                "offsetMinType": "none",
                "multiplierMin": 60000,
                "timeMaxValue": "",
                "timeMaxType": "none",
                "offsetMaxValue": "",
                "offsetMaxType": "none",
                "multiplierMax": 60000,
                "levelValue": "closed (min)",
                "levelType": "levelFixed",
                "levelOp": 0,
                "levelOpText": "↕ absolute",
                "validOperandAValue": "",
                "validOperandAType": "none",
                "validOperator": "true",
                "validOperatorText": "is true",
                "validOperandBValue": "",
                "validOperandBType": "str",
                "valid2LogOperator": 0,
                "valid2LogOperatorText": "N/A",
                "valid2OperandAValue": "",
                "valid2OperandAType": "msg",
                "valid2Operator": "true",
                "valid2OperatorText": "is true",
                "valid2OperandBValue": "",
                "valid2OperandBType": "num",
                "description": "<div><i class=\"fa fa-clock-o\" aria-hidden=\"true\"></i> ↥ until 5:30</div><div>↕ absolute closed (min)</div>",
                "valid": {},
                "isValid": false,
                "importance": 0,
                "timeDays": "*",
                "timeMonths": "*",
                "timeOnlyOddDays": false,
                "timeOnlyEvenDays": false,
                "timeDateStart": "",
                "timeDateEnd": "",
                "timeMinOp": 0,
                "timeMaxOp": 0
            },
            {
                "index": 2,
                "name": "",
                "timeValue": "7:25",
                "timeType": "entered",
                "timeOp": 0,
                "timeOpText": "↥ until",
                "offsetValue": "",
                "offsetType": "none",
                "multiplier": 60000,
                "timeMinValue": "",
                "timeMinType": "none",
                "offsetMinValue": "",
                "offsetMinType": "none",
                "multiplierMin": 60000,
                "timeMaxValue": "",
                "timeMaxType": "none",
                "offsetMaxValue": "",
                "offsetMaxType": "none",
                "multiplierMax": 60000,
                "levelValue": "closed (min)",
                "levelType": "levelFixed",
                "levelOp": 0,
                "levelOpText": "↕ absolute",
                "validOperandAValue": "dayInfo.today.isWeekendOrHoliday",
                "validOperandAType": "flow",
                "validOperator": "true",
                "validOperatorText": "is true",
                "validOperandBValue": "",
                "validOperandBType": "str",
                "valid2LogOperator": 0,
                "valid2LogOperatorText": "N/A",
                "valid2OperandAValue": "",
                "valid2OperandAType": "msg",
                "valid2Operator": "true",
                "valid2OperatorText": "is true",
                "valid2OperandBValue": "",
                "valid2OperandBType": "num",
                "description": "<div><i class=\"fa fa-code-fork\" aria-hidden=\"true\"></i> flow....fo.today.isWeekendOrHoliday is true</div><div><i class=\"fa fa-clock-o\" aria-hidden=\"true\"></i> ↥ until 7:25</div><div>↕ absolute closed (min)</div>",
                "valid": {},
                "isValid": false,
                "importance": 0,
                "timeDays": "*",
                "timeMonths": "*",
                "timeOnlyOddDays": false,
                "timeOnlyEvenDays": false,
                "timeDateStart": "",
                "timeDateEnd": "",
                "timeMinOp": 0,
                "timeMaxOp": 0
            },
            {
                "index": 3,
                "name": "",
                "timeValue": "civilDawn",
                "timeType": "pdsTime",
                "timeOp": 0,
                "timeOpText": "↥ until",
                "offsetValue": "",
                "offsetType": "none",
                "multiplier": 60000,
                "timeMinValue": "",
                "timeMinType": "none",
                "offsetMinValue": "",
                "offsetMinType": "none",
                "multiplierMin": 60000,
                "timeMaxValue": "",
                "timeMaxType": "none",
                "offsetMaxValue": "",
                "offsetMaxType": "none",
                "multiplierMax": 60000,
                "levelValue": "closed (min)",
                "levelType": "levelFixed",
                "levelOp": 0,
                "levelOpText": "↕ absolute",
                "validOperandAValue": "",
                "validOperandAType": "none",
                "validOperator": "true",
                "validOperatorText": "is true",
                "validOperandBValue": "",
                "validOperandBType": "str",
                "valid2LogOperator": 0,
                "valid2LogOperatorText": "N/A",
                "valid2OperandAValue": "",
                "valid2OperandAType": "msg",
                "valid2Operator": "true",
                "valid2OperatorText": "is true",
                "valid2OperandBValue": "",
                "valid2OperandBType": "num",
                "description": "<div><i class=\"fa fa-clock-o\" aria-hidden=\"true\"></i> ↥ until civilDawn</div><div>↕ absolute closed (min)</div>",
                "valid": {},
                "isValid": false,
                "importance": 0,
                "timeDays": "*",
                "timeMonths": "*",
                "timeOnlyOddDays": false,
                "timeOnlyEvenDays": false,
                "timeDateStart": "",
                "timeDateEnd": "",
                "timeMinOp": 0,
                "timeMaxOp": 0
            },
            {
                "index": 4,
                "name": "",
                "timeValue": "",
                "timeType": "none",
                "timeOp": 0,
                "timeOpText": "↥ until",
                "offsetValue": "",
                "offsetType": "none",
                "multiplier": 60000,
                "timeMinValue": "",
                "timeMinType": "none",
                "offsetMinValue": "",
                "offsetMinType": "none",
                "multiplierMin": 60000,
                "timeMaxValue": "",
                "timeMaxType": "none",
                "offsetMaxValue": "",
                "offsetMaxType": "none",
                "multiplierMax": 60000,
                "levelValue": "closed (min)",
                "levelType": "levelND",
                "levelOp": 1,
                "levelOpText": "⭳❗ minimum (oversteer)",
                "validOperandAValue": "",
                "validOperandAType": "none",
                "validOperator": "true",
                "validOperatorText": "is true",
                "validOperandBValue": "",
                "validOperandBType": "num",
                "valid2LogOperator": 0,
                "valid2LogOperatorText": "N/A",
                "valid2OperandAValue": "",
                "valid2OperandAType": "msg",
                "valid2Operator": "true",
                "valid2OperatorText": "is true",
                "valid2OperandBValue": "",
                "valid2OperandBType": "num",
                "description": "<div>⭳✋ reset minimum</div>",
                "valid": {},
                "isValid": false,
                "importance": 0,
                "timeDays": "*",
                "timeMonths": "*",
                "timeOnlyOddDays": false,
                "timeOnlyEvenDays": false,
                "timeDateStart": "",
                "timeDateEnd": "",
                "timeMinOp": 0,
                "timeMaxOp": 0
            },
            {
                "index": 5,
                "name": "",
                "timeValue": "",
                "timeType": "none",
                "timeOp": 0,
                "timeOpText": "↥ until",
                "offsetValue": "",
                "offsetType": "none",
                "multiplier": 60000,
                "timeMinValue": "",
                "timeMinType": "none",
                "offsetMinValue": "",
                "offsetMinType": "none",
                "multiplierMin": 60000,
                "timeMaxValue": "",
                "timeMaxType": "none",
                "offsetMaxValue": "",
                "offsetMaxType": "none",
                "multiplierMax": 60000,
                "levelValue": "50%",
                "levelType": "levelFixed",
                "levelOp": 2,
                "levelOpText": "⭱️❗ maximum (oversteer)",
                "validOperandAValue": "raining",
                "validOperandAType": "msg",
                "validOperator": "true",
                "validOperatorText": "is true",
                "validOperandBValue": "",
                "validOperandBType": "num",
                "valid2LogOperator": 0,
                "valid2LogOperatorText": "N/A",
                "valid2OperandAValue": "",
                "valid2OperandAType": "msg",
                "valid2Operator": "true",
                "valid2OperatorText": "is true",
                "valid2OperandBValue": "",
                "valid2OperandBType": "num",
                "description": "<div><i class=\"fa fa-code-fork\" aria-hidden=\"true\"></i> msg.raining is true</div><div>⭱️❗ maximum (oversteer) 50%</div>",
                "valid": {},
                "isValid": false,
                "importance": 0,
                "timeDays": "*",
                "timeMonths": "*",
                "timeOnlyOddDays": false,
                "timeOnlyEvenDays": false,
                "timeDateStart": "",
                "timeDateEnd": "",
                "timeMinOp": 0,
                "timeMaxOp": 0
            },
            {
                "index": 6,
                "name": "",
                "timeValue": "civilDusk",
                "timeType": "pdsTime",
                "timeOp": 1,
                "timeOpText": "↧ from",
                "offsetValue": "",
                "offsetType": "none",
                "multiplier": 60000,
                "timeMinValue": "",
                "timeMinType": "none",
                "offsetMinValue": "",
                "offsetMinType": "none",
                "multiplierMin": 60000,
                "timeMaxValue": "",
                "timeMaxType": "none",
                "offsetMaxValue": "",
                "offsetMaxType": "none",
                "multiplierMax": 60000,
                "levelValue": "closed (min)",
                "levelType": "levelFixed",
                "levelOp": 0,
                "levelOpText": "↕ absolute",
                "validOperandAValue": "",
                "validOperandAType": "none",
                "validOperator": "true",
                "validOperatorText": "is true",
                "validOperandBValue": "",
                "validOperandBType": "str",
                "valid2LogOperator": 0,
                "valid2LogOperatorText": "N/A",
                "valid2OperandAValue": "",
                "valid2OperandAType": "msg",
                "valid2Operator": "true",
                "valid2OperatorText": "is true",
                "valid2OperandBValue": "",
                "valid2OperandBType": "num",
                "description": "<div><i class=\"fa fa-clock-o\" aria-hidden=\"true\"></i> ↧ from civilDusk</div><div>↕ absolute closed (min)</div>",
                "valid": {},
                "isValid": false,
                "importance": 0,
                "timeDays": "*",
                "timeMonths": "*",
                "timeOnlyOddDays": false,
                "timeOnlyEvenDays": false,
                "timeDateStart": "",
                "timeDateEnd": "",
                "timeMinOp": 0,
                "timeMaxOp": 0
            },
            {
                "index": 7,
                "name": "",
                "timeValue": "21:25",
                "timeType": "entered",
                "timeOp": 1,
                "timeOpText": "↧ from",
                "offsetValue": "",
                "offsetType": "none",
                "multiplier": 60000,
                "timeMinValue": "",
                "timeMinType": "none",
                "offsetMinValue": "",
                "offsetMinType": "none",
                "multiplierMin": 60000,
                "timeMaxValue": "",
                "timeMaxType": "none",
                "offsetMaxValue": "",
                "offsetMaxType": "none",
                "multiplierMax": 60000,
                "levelValue": "closed (min)",
                "levelType": "levelFixed",
                "levelOp": 0,
                "levelOpText": "↕ absolute",
                "validOperandAValue": "dayInfo.tomorrow.isWeekendOrHoliday",
                "validOperandAType": "flow",
                "validOperator": "false",
                "validOperatorText": "is false",
                "validOperandBValue": "",
                "validOperandBType": "str",
                "valid2LogOperator": 0,
                "valid2LogOperatorText": "N/A",
                "valid2OperandAValue": "",
                "valid2OperandAType": "msg",
                "valid2Operator": "true",
                "valid2OperatorText": "is true",
                "valid2OperandBValue": "",
                "valid2OperandBType": "num",
                "description": "<div><i class=\"fa fa-code-fork\" aria-hidden=\"true\"></i> flow....tomorrow.isWeekendOrHoliday is false</div><div><i class=\"fa fa-clock-o\" aria-hidden=\"true\"></i> ↧ from 21:25</div><div>↕ absolute closed (min)</div>",
                "valid": {},
                "isValid": false,
                "importance": 0,
                "timeDays": "*",
                "timeMonths": "*",
                "timeOnlyOddDays": false,
                "timeOnlyEvenDays": false,
                "timeDateStart": "",
                "timeDateEnd": "",
                "timeMinOp": 0,
                "timeMaxOp": 0
            },
            {
                "index": 8,
                "name": "",
                "timeValue": "23:15",
                "timeType": "entered",
                "timeOp": 1,
                "timeOpText": "↧ from",
                "offsetValue": "",
                "offsetType": "none",
                "multiplier": 60000,
                "timeMinValue": "",
                "timeMinType": "none",
                "offsetMinValue": "",
                "offsetMinType": "none",
                "multiplierMin": 60000,
                "timeMaxValue": "",
                "timeMaxType": "none",
                "offsetMaxValue": "",
                "offsetMaxType": "none",
                "multiplierMax": 60000,
                "levelValue": "closed (min)",
                "levelType": "levelFixed",
                "levelOp": 0,
                "levelOpText": "↕ absolute",
                "validOperandAValue": "",
                "validOperandAType": "none",
                "validOperator": "true",
                "validOperatorText": "is true",
                "validOperandBValue": "",
                "validOperandBType": "str",
                "valid2LogOperator": 0,
                "valid2LogOperatorText": "N/A",
                "valid2OperandAValue": "",
                "valid2OperandAType": "msg",
                "valid2Operator": "true",
                "valid2OperatorText": "is true",
                "valid2OperandBValue": "",
                "valid2OperandBType": "num",
                "description": "<div><i class=\"fa fa-clock-o\" aria-hidden=\"true\"></i> ↧ from 23:15</div><div>↕ absolute closed (min)</div>",
                "valid": {},
                "isValid": false,
                "importance": 0,
                "timeDays": "*",
                "timeMonths": "*",
                "timeOnlyOddDays": false,
                "timeOnlyEvenDays": false,
                "timeDateStart": "",
                "timeDateEnd": "",
                "timeMinOp": 0,
                "timeMaxOp": 0
            }
        ],
        "sunControlMode": "2",
        "sunFloorLength": "0.6",
        "sunMinAltitude": "",
        "sunMinDelta": "0.1",
        "blindPosMin": "closed (min)",
        "blindPosMinType": "levelFixed",
        "blindPosMax": "open (max)",
        "blindPosMaxType": "levelFixed",
        "smoothTime": "",
        "sunTopic": "",
        "windowTop": "1.28",
        "windowBottom": "0",
        "windowAzimuthStart": "70",
        "windowAzimuthEnd": "150",
        "oversteerValue": "",
        "oversteerValueType": "none",
        "oversteerCompare": "gte",
        "oversteerThreshold": "50",
        "oversteerThresholdType": "num",
        "oversteerBlindPos": "open (max)",
        "oversteerBlindPosType": "levelFixed",
        "oversteer2Value": "",
        "oversteer2ValueType": "none",
        "oversteer2Compare": "gte",
        "oversteer2Threshold": "",
        "oversteer2ThresholdType": "num",
        "oversteer2BlindPos": "open (max)",
        "oversteer2BlindPosType": "levelFixed",
        "oversteer3Value": "",
        "oversteer3ValueType": "none",
        "oversteer3Compare": "gte",
        "oversteer3Threshold": "",
        "oversteer3ThresholdType": "num",
        "oversteer3BlindPos": "open (max)",
        "oversteer3BlindPosType": "levelFixed",
        "oversteerTopic": "",
        "x": 870,
        "y": 4140,
        "wires": [
            [
                "e92d6413.317dc8"
            ]
        ]
    },
    {
        "id": "e92d6413.317dc8",
        "type": "debug",
        "z": "9e1a7786.dff708",
        "g": "36a278a8.1d1df8",
        "name": "Blind position",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1115,
        "y": 4140,
        "wires": []
    },
    {
        "id": "60ed6aa.786c594",
        "type": "change",
        "z": "9e1a7786.dff708",
        "g": "36a278a8.1d1df8",
        "name": "dayInfo.today.isWeekendOrHoliday",
        "rules": [
            {
                "t": "set",
                "p": "dayInfo.today.isWeekendOrHoliday",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 945,
        "y": 4215,
        "wires": [
            []
        ]
    },
    {
        "id": "512d7d7c.cc4324",
        "type": "inject",
        "z": "9e1a7786.dff708",
        "g": "36a278a8.1d1df8",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 675,
        "y": 4215,
        "wires": [
            [
                "60ed6aa.786c594"
            ]
        ]
    },
    {
        "id": "5274fe0b.5c87b",
        "type": "inject",
        "z": "9e1a7786.dff708",
        "g": "36a278a8.1d1df8",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 675,
        "y": 4260,
        "wires": [
            [
                "60ed6aa.786c594"
            ]
        ]
    },
    {
        "id": "5f5128b8.b203b8",
        "type": "change",
        "z": "9e1a7786.dff708",
        "g": "36a278a8.1d1df8",
        "name": "dayInfo.tomorrow.isWeekendOrHoliday",
        "rules": [
            {
                "t": "set",
                "p": "dayInfo.tomorrow.isWeekendOrHoliday",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 955,
        "y": 4305,
        "wires": [
            []
        ]
    },
    {
        "id": "7b462ced.4cb384",
        "type": "inject",
        "z": "9e1a7786.dff708",
        "g": "36a278a8.1d1df8",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 675,
        "y": 4305,
        "wires": [
            [
                "5f5128b8.b203b8"
            ]
        ]
    },
    {
        "id": "ad40d513.0245c8",
        "type": "inject",
        "z": "9e1a7786.dff708",
        "g": "36a278a8.1d1df8",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 675,
        "y": 4350,
        "wires": [
            [
                "5f5128b8.b203b8"
            ]
        ]
    },
    {
        "id": "b1237bf5.0feeb8",
        "type": "change",
        "z": "9e1a7786.dff708",
        "g": "36a278a8.1d1df8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "windowOpen",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 4395,
        "wires": [
            [
                "df4683fb.c9728"
            ]
        ]
    },
    {
        "id": "3d75aed5.6e8442",
        "type": "inject",
        "z": "9e1a7786.dff708",
        "g": "36a278a8.1d1df8",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "window open",
        "payload": "true",
        "payloadType": "bool",
        "x": 705,
        "y": 4395,
        "wires": [
            [
                "b1237bf5.0feeb8"
            ]
        ]
    },
    {
        "id": "9ded5223.d994f",
        "type": "inject",
        "z": "9e1a7786.dff708",
        "g": "36a278a8.1d1df8",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "window closed",
        "payload": "false",
        "payloadType": "bool",
        "x": 725,
        "y": 4440,
        "wires": [
            [
                "b1237bf5.0feeb8"
            ]
        ]
    },
    {
        "id": "bf7f9c40.0ee1a",
        "type": "link in",
        "z": "9e1a7786.dff708",
        "g": "36a278a8.1d1df8",
        "name": "do_refreshBlind_state",
        "links": [
            "df4683fb.c9728",
            "dba49bc7.8be158"
        ],
        "x": 550,
        "y": 4065,
        "wires": [
            [
                "b1a35885.089b38"
            ]
        ]
    },
    {
        "id": "df4683fb.c9728",
        "type": "link out",
        "z": "9e1a7786.dff708",
        "g": "36a278a8.1d1df8",
        "name": "trigger_refreshBlind_state",
        "links": [
            "bf7f9c40.0ee1a"
        ],
        "x": 1195,
        "y": 4395,
        "wires": []
    },
    {
        "id": "5d4d287b.8ac1f8",
        "type": "change",
        "z": "9e1a7786.dff708",
        "g": "36a278a8.1d1df8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "raining",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 4485,
        "wires": [
            [
                "df4683fb.c9728"
            ]
        ]
    },
    {
        "id": "bab47071.c4815",
        "type": "inject",
        "z": "9e1a7786.dff708",
        "g": "36a278a8.1d1df8",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "is raining",
        "payload": "true",
        "payloadType": "bool",
        "x": 695,
        "y": 4485,
        "wires": [
            [
                "5d4d287b.8ac1f8"
            ]
        ]
    },
    {
        "id": "8268cecb.a1615",
        "type": "inject",
        "z": "9e1a7786.dff708",
        "g": "36a278a8.1d1df8",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.7",
        "topic": "is raining",
        "payload": "false",
        "payloadType": "bool",
        "x": 705,
        "y": 4530,
        "wires": [
            [
                "5d4d287b.8ac1f8"
            ]
        ]
    }
]