nodes/test/blind-test.json
[{"id":"756d5a5e.9c43b4","type":"tab","label":"Blind","disabled":false,"info":""},{"id":"986679bf.ae5218","type":"blind-control","z":"756d5a5e.9c43b4","name":"","topic":"","positionConfig":"9a63355f.c23e98","outputs":2,"blindIncrement":"0.1","blindOpenPos":"1","blindClosedPos":0,"blindPosDefault":"open (max)","blindPosDefaultType":"levelFixed","overwriteExpire":"30000","rules":[],"tsCompare":"0","sunControlMode":"1","sunFloorLength":0,"sunMinAltitude":"","blindPosMin":"closed (min)","blindPosMinType":"levelFixed","blindPosMax":"open (max)","blindPosMaxType":"levelFixed","smoothTime":"","windowTop":"2.35","windowBottom":"1.1","windowAzimuthStart":"95","windowAzimuthEnd":"340","cloudValue":"","cloudValueType":"none","cloudCompare":"gte","cloudThreshold":"","cloudThresholdType":"num","cloudBlindPos":"open (max)","cloudBlindPosType":"levelFixed","x":460,"y":210,"wires":[["2664bf1a.2f3a8"],["2ad3915c.c059be"]]},{"id":"2664bf1a.2f3a8","type":"debug","z":"756d5a5e.9c43b4","name":"Blind Controller","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":170,"wires":[]},{"id":"2a14b6b4.0ec42a","type":"inject","z":"756d5a5e.9c43b4","name":"reset","topic":"","payload":"{\"reset\":true}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":110,"wires":[["986679bf.ae5218"]]},{"id":"7d99545d.6df0bc","type":"inject","z":"756d5a5e.9c43b4","name":"0%","topic":"","payload":"{\"position\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":150,"wires":[["986679bf.ae5218"]]},{"id":"e6fa67e3.549e68","type":"comment","z":"756d5a5e.9c43b4","name":"Manual overrides","info":"","x":100,"y":70,"wires":[]},{"id":"72a5e7a1.a08d18","type":"inject","z":"756d5a5e.9c43b4","name":"30% High Prio","topic":"","payload":"{\"position\":0.3,\"prio\":true}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":190,"wires":[["986679bf.ae5218"]]},{"id":"63b15ad3.72e014","type":"inject","z":"756d5a5e.9c43b4","name":"60%","topic":"","payload":"{\"position\":0.6}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":230,"wires":[["986679bf.ae5218"]]},{"id":"25386386.7719ec","type":"inject","z":"756d5a5e.9c43b4","name":"90%, 2,5s","topic":"","payload":"{\"position\":0.9,\"expire\":2500}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":270,"wires":[["986679bf.ae5218"]]},{"id":"50c0ad19.bf5584","type":"inject","z":"756d5a5e.9c43b4","name":"alarm","topic":"","payload":"{\"alarm\":true, \"position\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":310,"wires":[["986679bf.ae5218"]]},{"id":"a25622b6.4c48b","type":"comment","z":"756d5a5e.9c43b4","name":"Manual overrides","info":"","x":100,"y":440,"wires":[]},{"id":"20b3508a.b4c72","type":"inject","z":"756d5a5e.9c43b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":30,"wires":[["986679bf.ae5218"]]},{"id":"59a18086.f0e9d","type":"inject","z":"756d5a5e.9c43b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":60,"wires":[["dd94773e.933158"]]},{"id":"dd94773e.933158","type":"change","z":"756d5a5e.9c43b4","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":60,"wires":[["986679bf.ae5218"]]},{"id":"b52900bc.bb5f5","type":"blind-control","z":"756d5a5e.9c43b4","name":"north-balkon","topic":"","positionConfig":"9a63355f.c23e98","outputs":1,"blindIncrement":"0.01","blindOpenPos":"1","blindClosedPos":0,"blindPosDefault":"open (max)","blindPosDefaultType":"levelFixed","overwriteExpire":"","rules":[],"tsCompare":"0","sunControlMode":"1","sunFloorLength":"0.2","sunMinAltitude":"","blindPosMin":"closed (min)","blindPosMinType":"levelFixed","blindPosMax":"open (max)","blindPosMaxType":"levelFixed","smoothTime":"","windowTop":"2.13","windowBottom":"0","windowAzimuthStart":"275","windowAzimuthEnd":"360","cloudValue":"","cloudValueType":"none","cloudThreshold":"","cloudThresholdType":"num","cloudBlindPos":"open (max)","cloudBlindPosType":"levelFixed","x":460,"y":580,"wires":[["ee3b732.9b0039"]]},{"id":"a3f624af.c5a768","type":"blind-control","z":"756d5a5e.9c43b4","name":"east-Esstisch","topic":"","positionConfig":"9a63355f.c23e98","outputs":1,"blindIncrement":"0.01","blindOpenPos":"1","blindClosedPos":0,"blindPosDefault":"open (max)","blindPosDefaultType":"levelFixed","overwriteExpire":"","rules":[],"tsCompare":"0","sunControlMode":"1","sunFloorLength":"0.3","sunMinAltitude":"","blindPosMin":"closed (min)","blindPosMinType":"levelFixed","blindPosMax":"open (max)","blindPosMaxType":"levelFixed","smoothTime":"","windowTop":"1.28","windowBottom":"0","windowAzimuthStart":"70","windowAzimuthEnd":"150","cloudValue":"","cloudValueType":"none","cloudThreshold":"","cloudBlindPos":"open (max)","cloudBlindPosType":"levelFixed","x":460,"y":630,"wires":[["ee3b732.9b0039"]]},{"id":"151f5b30.a07475","type":"blind-control","z":"756d5a5e.9c43b4","name":"south-Küche (0.1)","topic":"","positionConfig":"9a63355f.c23e98","outputs":1,"blindIncrement":"0.01","blindOpenPos":"1","blindClosedPos":0,"blindPosDefault":"open (max)","blindPosDefaultType":"levelFixed","overwriteExpire":"","rules":[],"tsCompare":"0","sunControlMode":"1","sunFloorLength":"0.1","sunMinAltitude":"","blindPosMin":"closed (min)","blindPosMinType":"levelFixed","blindPosMax":"open (max)","blindPosMaxType":"levelFixed","smoothTime":"","windowTop":"1.3","windowBottom":"0.02","windowAzimuthStart":"95","windowAzimuthEnd":"230","cloudValue":"","cloudValueType":"none","cloudThreshold":"","cloudBlindPos":"open (max)","cloudBlindPosType":"levelFixed","x":480,"y":680,"wires":[["ee3b732.9b0039"]]},{"id":"540141a3.91c02","type":"blind-control","z":"756d5a5e.9c43b4","name":"west-ArbZi","topic":"","positionConfig":"9a63355f.c23e98","outputs":1,"blindIncrement":"0.01","blindOpenPos":"1","blindClosedPos":0,"blindPosDefault":"open (max)","blindPosDefaultType":"levelFixed","overwriteExpire":"","rules":[],"tsCompare":"0","sunControlMode":"1","sunFloorLength":"0.01","sunMinAltitude":"","blindPosMin":"closed (min)","blindPosMinType":"levelFixed","blindPosMax":"open (max)","blindPosMaxType":"levelFixed","smoothTime":"","windowTop":"1","windowBottom":"0.01","windowAzimuthStart":"185","windowAzimuthEnd":"340","cloudValue":"","cloudValueType":"none","cloudThreshold":"","cloudBlindPos":"open (max)","cloudBlindPosType":"levelFixed","x":452,"y":730,"wires":[["ee3b732.9b0039"]]},{"id":"ee3b732.9b0039","type":"debug","z":"756d5a5e.9c43b4","name":"Blind","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":840,"y":730,"wires":[]},{"id":"52bdbf22.22e4c","type":"inject","z":"756d5a5e.9c43b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":580,"wires":[["b52900bc.bb5f5"]]},{"id":"e156917.e594f7","type":"inject","z":"756d5a5e.9c43b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":630,"wires":[["a3f624af.c5a768"]]},{"id":"c89c4928.a0c648","type":"inject","z":"756d5a5e.9c43b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":680,"wires":[["151f5b30.a07475"]]},{"id":"cf153c13.69e97","type":"inject","z":"756d5a5e.9c43b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":730,"wires":[["540141a3.91c02"]]},{"id":"95faf7ce.4495b8","type":"inject","z":"756d5a5e.9c43b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":780,"wires":[["a96a9d42.3ffa6"]]},{"id":"a96a9d42.3ffa6","type":"blind-control","z":"756d5a5e.9c43b4","name":"south-Küche floor 0.6 - inc. 0.01","topic":"","positionConfig":"9a63355f.c23e98","outputs":1,"blindIncrement":"0.01","blindOpenPos":"1","blindClosedPos":0,"blindPosDefault":"open (max)","blindPosDefaultType":"levelFixed","overwriteExpire":"","rules":[],"tsCompare":"0","sunControlMode":"1","sunFloorLength":"0.6","sunMinAltitude":"","blindPosMin":"closed (min)","blindPosMinType":"levelFixed","blindPosMax":"open (max)","blindPosMaxType":"levelFixed","smoothTime":"","windowTop":"1.3","windowBottom":"0.02","windowAzimuthStart":"95","windowAzimuthEnd":"230","cloudValue":"","cloudValueType":"none","cloudThreshold":"","cloudBlindPos":"open (max)","cloudBlindPosType":"levelFixed","x":522,"y":780,"wires":[["ee3b732.9b0039"]]},{"id":"48a042b3.5d595c","type":"blind-control","z":"756d5a5e.9c43b4","name":"south-Küche 0.6 - 0.05","topic":"","positionConfig":"9a63355f.c23e98","outputs":1,"blindIncrement":"0.05","blindOpenPos":"1","blindClosedPos":0,"blindPosDefault":"open (max)","blindPosDefaultType":"levelFixed","overwriteExpire":"","rules":[],"tsCompare":"0","sunControlMode":"1","sunFloorLength":"0.6","sunMinAltitude":"","blindPosMin":"closed (min)","blindPosMinType":"levelFixed","blindPosMax":"open (max)","blindPosMaxType":"levelFixed","smoothTime":"","windowTop":"1.3","windowBottom":"0.02","windowAzimuthStart":"95","windowAzimuthEnd":"230","cloudValue":"","cloudValueType":"none","cloudThreshold":"","cloudBlindPos":"open (max)","cloudBlindPosType":"levelFixed","x":492,"y":830,"wires":[["ee3b732.9b0039"]]},{"id":"f3451493.3b5968","type":"inject","z":"756d5a5e.9c43b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":830,"wires":[["48a042b3.5d595c","c14beeb9.d7647","346b46a0.f6c74a"]]},{"id":"c14beeb9.d7647","type":"blind-control","z":"756d5a5e.9c43b4","name":"south-Küche 0.6 - 0.1","topic":"","positionConfig":"9a63355f.c23e98","outputs":1,"blindIncrement":"0.1","blindOpenPos":"1","blindClosedPos":0,"blindPosDefault":"open (max)","blindPosDefaultType":"levelFixed","overwriteExpire":"","rules":[],"tsCompare":"0","sunControlMode":"1","sunFloorLength":"0.6","sunMinAltitude":"","blindPosMin":"closed (min)","blindPosMinType":"levelFixed","blindPosMax":"open (max)","blindPosMaxType":"levelFixed","smoothTime":"","windowTop":"1.3","windowBottom":"0.02","windowAzimuthStart":"95","windowAzimuthEnd":"230","cloudValue":"","cloudValueType":"none","cloudThreshold":"","cloudBlindPos":"open (max)","cloudBlindPosType":"levelFixed","x":492,"y":880,"wires":[[]]},{"id":"9eab6658.4f2f78","type":"openweathermap in","z":"756d5a5e.9c43b4","name":"","wtype":"current","lon":"","lat":"","city":"Dresden","country":"Germany","language":"de","x":910,"y":70,"wires":[["d60f521d.508f4","b63fa943.c405c8"]]},{"id":"d60f521d.508f4","type":"debug","z":"756d5a5e.9c43b4","name":"Wetter","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1150,"y":70,"wires":[]},{"id":"b63fa943.c405c8","type":"change","z":"756d5a5e.9c43b4","name":"","rules":[{"t":"set","p":"weather","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"weatherData","pt":"flow","to":"data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":120,"wires":[[]]},{"id":"346b46a0.f6c74a","type":"blind-control","z":"756d5a5e.9c43b4","name":"south-Küche 0.6 - 0.1 + cloud","topic":"","positionConfig":"9a63355f.c23e98","outputs":1,"blindIncrement":"0.1","blindOpenPos":"1","blindClosedPos":0,"blindPosDefault":"open (max)","blindPosDefaultType":"levelFixed","overwriteExpire":"","rules":[],"tsCompare":"0","sunControlMode":"1","sunFloorLength":"0.6","sunMinAltitude":"","blindPosMin":"closed (min)","blindPosMinType":"levelFixed","blindPosMax":"open (max)","blindPosMaxType":"levelFixed","smoothTime":"","windowTop":"1.3","windowBottom":"0.02","windowAzimuthStart":"95","windowAzimuthEnd":"230","cloudValue":"weather.clouds","cloudValueType":"flow","cloudThreshold":"50","cloudBlindPos":"open (max)","cloudBlindPosType":"levelFixed","x":512,"y":930,"wires":[[]]},{"id":"743d968f.628c78","type":"blind-control","z":"756d5a5e.9c43b4","name":"south-Küche 0.6 - 0.1 + cloud","topic":"","positionConfig":"9a63355f.c23e98","outputs":1,"blindIncrement":"0.1","blindOpenPos":"1","blindClosedPos":0,"blindPosDefault":"open (max)","blindPosDefaultType":"levelFixed","overwriteExpire":"","rules":[{"timeType":"pdsTime","timeValue":"sunrise","timeOp":"0","timeOpText":"until","levelType":"levelFixed","levelValue":"closed (min)","offsetType":"none","offsetValue":"","multiplier":"1","propertyType":"none","propertyValue":"","propertyOp":"0","propertyOpText":"is true"},{"timeType":"pdsTime","timeValue":"sunset","timeOp":"1","timeOpText":"from","levelType":"levelFixed","levelValue":"closed (min)","offsetType":"none","offsetValue":"","multiplier":"1","propertyType":"global","propertyValue":"sunMax","propertyOp":"0","propertyOpText":"is true"}],"tsCompare":"0","sunControlMode":"1","sunFloorLength":"0.6","sunMinAltitude":"","blindPosMin":"closed (min)","blindPosMinType":"levelFixed","blindPosMax":"open (max)","blindPosMaxType":"levelFixed","smoothTime":"","windowTop":"1.3","windowBottom":"0.02","windowAzimuthStart":"95","windowAzimuthEnd":"230","cloudValue":"weather.clouds","cloudValueType":"flow","cloudThreshold":"50","cloudBlindPos":"open (max)","cloudBlindPosType":"levelFixed","x":522,"y":980,"wires":[["4302e0cb.add0a"]]},{"id":"15dcd43f.a4b74c","type":"inject","z":"756d5a5e.9c43b4","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":480,"wires":[["e6ac4dd7.298fd"]]},{"id":"e6ac4dd7.298fd","type":"change","z":"756d5a5e.9c43b4","name":"","rules":[{"t":"set","p":"sunMax","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":500,"wires":[[]]},{"id":"42ded374.47c7fc","type":"inject","z":"756d5a5e.9c43b4","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":530,"wires":[["e6ac4dd7.298fd"]]},{"id":"fa7b27fb.a65978","type":"inject","z":"756d5a5e.9c43b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":980,"wires":[["743d968f.628c78"]]},{"id":"4302e0cb.add0a","type":"debug","z":"756d5a5e.9c43b4","name":"Blind","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":980,"wires":[]},{"id":"a7173f39.c739d","type":"blind-control","z":"756d5a5e.9c43b4","name":"south-Küche 0.7 - 0.01 + cloud","topic":"","positionConfig":"9a63355f.c23e98","outputs":1,"blindIncrement":"0.01","blindOpenPos":"1","blindClosedPos":0,"blindPosDefault":"open (max)","blindPosDefaultType":"levelFixed","overwriteExpire":"","rules":[{"timeType":"pdsTime","timeValue":"sunrise","timeOp":"0","timeOpText":"until","levelType":"levelFixed","levelValue":"closed (min)","offsetType":"none","offsetValue":"","multiplier":"1","propertyType":"none","propertyValue":"","propertyOp":"0","propertyOpText":"is true"},{"timeType":"pdsTime","timeValue":"sunset","timeOp":"1","timeOpText":"from","levelType":"levelFixed","levelValue":"33%","offsetType":"num","offsetValue":"-3","multiplier":"3600000","propertyType":"global","propertyValue":"sunMax","propertyOp":"0","propertyOpText":"is true"},{"timeType":"pdsTime","timeValue":"sunset","timeOp":"1","timeOpText":"from","levelType":"levelFixed","levelValue":"closed (min)","offsetType":"none","offsetValue":"","multiplier":"1","propertyType":"none","propertyValue":"","propertyOp":"0","propertyOpText":"is true"}],"tsCompare":"0","sunControlMode":"1","sunFloorLength":"0.7","sunMinAltitude":"","blindPosMin":"closed (min)","blindPosMinType":"levelFixed","blindPosMax":"open (max)","blindPosMaxType":"levelFixed","smoothTime":"","windowTop":"1.3","windowBottom":"0","windowAzimuthStart":"95","windowAzimuthEnd":"230","cloudValue":"weather.clouds","cloudValueType":"flow","cloudThreshold":"50","cloudBlindPos":"open (max)","cloudBlindPosType":"levelFixed","x":532,"y":1030,"wires":[["4302e0cb.add0a"]]},{"id":"8d5a5aa6.526758","type":"inject","z":"756d5a5e.9c43b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1030,"wires":[["a7173f39.c739d","b4148aaa.5b43f8"]]},{"id":"c8d4e0b3.b1378","type":"unsafe-function","z":"756d5a5e.9c43b4","name":"fkt","func":"\nlet timeObj = context.get(\"timeObj\");\nif (timeObj) {\n    clearInterval(timeObj);\n    context.set(\"timeObj\", null);\n    let d = new Date(context.get(\"date\"));\n    node.status({fill:\"red\",shape:\"ring\",text:\"off - \" + d.toLocaleTimeString()});\n} else {\n    context.set(\"message\", msg);\n    let d = new Date(); \n    let num = Number(msg.payload) || 0;\n    d.setHours(num);\n    context.set(\"date\", d.getTime());\n    msg.ts = d.getTime();\n    node.log(\"sending \" + d.toLocaleTimeString() + ' #######################################');\n    node.send(msg);\n        \n    let timeObj = setInterval(function(){\n        let msg = context.get(\"message\");\n        let d = new Date(context.get(\"date\"));\n        d.setHours(d.getHours()+1);\n        context.set(\"date\", d.getTime());\n        msg.ts = d.getTime();\n        node.status({fill:\"green\",shape:\"dot\",text:d.toLocaleTimeString()});\n        node.log(\"sending \" + d.toLocaleTimeString() + ' #######################################');\n        node.send(msg);\n    }, 1500);\n    context.set(\"timeObj\", timeObj);\n    node.status({fill:\"green\",shape:\"ring\",text:d.toLocaleTimeString()});\n}\n\nreturn null;","outputs":1,"noerr":0,"x":380,"y":1320,"wires":[["6687bca4.13f064"]]},{"id":"ec9e2789.b88948","type":"debug","z":"756d5a5e.9c43b4","name":"Blind out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":1370,"wires":[]},{"id":"e22332a1.40e06","type":"inject","z":"756d5a5e.9c43b4","name":"","topic":"","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":1320,"wires":[["c8d4e0b3.b1378"]]},{"id":"6687bca4.13f064","type":"blind-control","z":"756d5a5e.9c43b4","name":"0.01 no Hyst","topic":"","positionConfig":"9a63355f.c23e98","outputs":1,"blindIncrement":"0.01","blindOpenPos":"1","blindClosedPos":0,"blindPosDefault":"open (max)","blindPosDefaultType":"levelFixed","overwriteExpire":"14400000","rules":[{"timeType":"entered","timeValue":"6:30","timeOp":"0","timeOpText":"until","levelType":"levelFixed","levelValue":"closed (min)","offsetType":"none","offsetValue":"","multiplier":"1","propertyType":"none","propertyValue":"","propertyOp":"0","propertyOpText":"is true"},{"timeType":"entered","timeValue":"7:25","timeOp":"0","timeOpText":"until","levelType":"levelFixed","levelValue":"closed (min)","offsetType":"none","offsetValue":"","multiplier":"1","propertyType":"global","propertyValue":"dayInfo.today.isWeekendOrHoliday","propertyOp":"0","propertyOpText":"is true"},{"timeType":"pdsTime","timeValue":"civilDawn","timeOp":"0","timeOpText":"until","levelType":"levelFixed","levelValue":"closed (min)","offsetType":"none","offsetValue":"","multiplier":"1","propertyType":"none","propertyValue":"","propertyOp":"0","propertyOpText":"is true"},{"timeType":"pdsTime","timeValue":"astronomicalDusk","timeOp":"1","timeOpText":"from","levelType":"levelFixed","levelValue":"closed (min)","offsetType":"none","offsetValue":"","multiplier":"1","propertyType":"none","propertyValue":"","propertyOp":"0","propertyOpText":"is true"},{"timeType":"entered","timeValue":"23:15","timeOp":"1","timeOpText":"from","levelType":"levelFixed","levelValue":"closed (min)","offsetType":"none","offsetValue":"","multiplier":"1","propertyType":"global","propertyValue":"dayInfo.tomorrow.isWeekendOrHoliday","propertyOp":"0","propertyOpText":"is true"},{"timeType":"entered","timeValue":"22:35","timeOp":"1","timeOpText":"from","levelType":"levelFixed","levelValue":"closed (min)","offsetType":"none","offsetValue":"","multiplier":"1","propertyType":"none","propertyValue":"","propertyOp":"0","propertyOpText":"is true"}],"tsCompare":"1","sunControlMode":"1","sunFloorLength":"0.6","sunMinAltitude":"","blindPosMin":"closed (min)","blindPosMinType":"levelFixed","blindPosMax":"open (max)","blindPosMaxType":"levelFixed","smoothTime":"","windowTop":"1.28","windowBottom":"0","windowAzimuthStart":"70","windowAzimuthEnd":"150","cloudValue":"","cloudValueType":"none","cloudThreshold":"","cloudBlindPos":"open (max)","cloudBlindPosType":"levelFixed","x":580,"y":1320,"wires":[[]]},{"id":"51bc0946.ee4128","type":"unsafe-function","z":"756d5a5e.9c43b4","name":"fkt 30min","func":"\nlet timeObj = context.get(\"timeObj\");\nif (timeObj) {\n    clearInterval(timeObj);\n    context.set(\"timeObj\", null);\n    let d = new Date(context.get(\"date\"));\n    node.status({fill:\"red\",shape:\"ring\",text:\"off - \" + d.toLocaleTimeString()});\n} else {\n    context.set(\"message\", msg);\n    let d = new Date(); \n    let num = Number(msg.payload) || 0;\n    d.setHours(num);\n    d.setMinutes(0);\n    context.set(\"date\", d.getTime());\n    msg.lts = d.toLocaleTimeString();\n    msg.ts = d.getTime();\n    node.log(\"sending \" + d.toLocaleTimeString() + ' #######################################');\n    node.send(msg);\n        \n    let timeObj = setInterval(function(){\n        let msg = context.get(\"message\");\n        let d = new Date(context.get(\"date\"));\n        //d.setHours(d.getHours()+1);\n        d.setMinutes(d.getMinutes() + 30)\n        context.set(\"date\", d.getTime());\n        msg.lts = d.toLocaleTimeString();\n        msg.ts = d.getTime();\n        node.status({fill:\"green\",shape:\"dot\",text:d.toLocaleTimeString()});\n        node.log(\"sending \" + d.toLocaleTimeString() + ' #######################################');\n        node.send(msg);\n    }, 1000);\n    context.set(\"timeObj\", timeObj);\n    node.status({fill:\"green\",shape:\"ring\",text:d.toLocaleTimeString()});\n}\n\nreturn null;","outputs":1,"noerr":0,"x":390,"y":1370,"wires":[["6687bca4.13f064","567d46fa.aba798"]]},{"id":"a2af2715.c17498","type":"inject","z":"756d5a5e.9c43b4","name":"","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":1370,"wires":[["51bc0946.ee4128"]]},{"id":"567d46fa.aba798","type":"blind-control","z":"756d5a5e.9c43b4","name":"0.1 no Hyst","topic":"","positionConfig":"9a63355f.c23e98","outputs":1,"blindIncrement":"0.1","blindOpenPos":"1","blindClosedPos":0,"blindPosDefault":"open (max)","blindPosDefaultType":"levelFixed","overwriteExpire":"14400000","rules":[{"timeType":"entered","timeValue":"6:30","timeOp":"0","timeOpText":"until","levelType":"levelFixed","levelValue":"closed (min)","offsetType":"none","offsetValue":"","multiplier":"1","propertyType":"none","propertyValue":"","propertyOp":"0","propertyOpText":"is true"},{"timeType":"entered","timeValue":"7:25","timeOp":"0","timeOpText":"until","levelType":"levelFixed","levelValue":"closed (min)","offsetType":"none","offsetValue":"","multiplier":"1","propertyType":"global","propertyValue":"dayInfo.today.isWeekendOrHoliday","propertyOp":"0","propertyOpText":"is true"},{"timeType":"pdsTime","timeValue":"civilDawn","timeOp":"0","timeOpText":"until","levelType":"levelFixed","levelValue":"closed (min)","offsetType":"none","offsetValue":"","multiplier":"1","propertyType":"none","propertyValue":"","propertyOp":"0","propertyOpText":"is true"},{"timeType":"pdsTime","timeValue":"astronomicalDusk","timeOp":"1","timeOpText":"from","levelType":"levelFixed","levelValue":"closed (min)","offsetType":"none","offsetValue":"","multiplier":"1","propertyType":"none","propertyValue":"","propertyOp":"0","propertyOpText":"is true"},{"timeType":"entered","timeValue":"23:15","timeOp":"1","timeOpText":"from","levelType":"levelFixed","levelValue":"closed (min)","offsetType":"none","offsetValue":"","multiplier":"1","propertyType":"global","propertyValue":"dayInfo.tomorrow.isWeekendOrHoliday","propertyOp":"0","propertyOpText":"is true"},{"timeType":"entered","timeValue":"22:35","timeOp":"1","timeOpText":"from","levelType":"levelFixed","levelValue":"closed (min)","offsetType":"none","offsetValue":"","multiplier":"1","propertyType":"none","propertyValue":"","propertyOp":"0","propertyOpText":"is true"}],"tsCompare":"1","sunControlMode":"1","sunFloorLength":"0.6","sunMinAltitude":"","blindPosMin":"closed (min)","blindPosMinType":"levelFixed","blindPosMax":"open (max)","blindPosMaxType":"levelFixed","smoothTime":"","windowTop":"1.28","windowBottom":"0","windowAzimuthStart":"70","windowAzimuthEnd":"150","cloudValue":"","cloudValueType":"none","cloudThreshold":"","cloudBlindPos":"open (max)","cloudBlindPosType":"levelFixed","x":580,"y":1370,"wires":[["ec9e2789.b88948"]]},{"id":"94725623.e5b0a8","type":"blind-control","z":"756d5a5e.9c43b4","name":"0.01 - 45min Hyst","topic":"","positionConfig":"9a63355f.c23e98","outputs":1,"blindIncrement":"0.01","blindOpenPos":"1","blindClosedPos":0,"blindPosDefault":"open (max)","blindPosDefaultType":"levelFixed","overwriteExpire":"14400000","rules":[{"timeType":"entered","timeValue":"6:30","timeOp":"0","timeOpText":"until","levelType":"levelFixed","levelValue":"closed (min)","offsetType":"none","offsetValue":"","multiplier":"1","propertyType":"none","propertyValue":"","propertyOp":"0","propertyOpText":"is true"},{"timeType":"entered","timeValue":"7:25","timeOp":"0","timeOpText":"until","levelType":"levelFixed","levelValue":"closed (min)","offsetType":"none","offsetValue":"","multiplier":"1","propertyType":"global","propertyValue":"dayInfo.today.isWeekendOrHoliday","propertyOp":"0","propertyOpText":"is true"},{"timeType":"pdsTime","timeValue":"civilDawn","timeOp":"0","timeOpText":"until","levelType":"levelFixed","levelValue":"closed (min)","offsetType":"none","offsetValue":"","multiplier":"1","propertyType":"none","propertyValue":"","propertyOp":"0","propertyOpText":"is true"},{"timeType":"pdsTime","timeValue":"astronomicalDusk","timeOp":"1","timeOpText":"from","levelType":"levelFixed","levelValue":"closed (min)","offsetType":"none","offsetValue":"","multiplier":"1","propertyType":"none","propertyValue":"","propertyOp":"0","propertyOpText":"is true"},{"timeType":"entered","timeValue":"23:15","timeOp":"1","timeOpText":"from","levelType":"levelFixed","levelValue":"closed (min)","offsetType":"none","offsetValue":"","multiplier":"1","propertyType":"global","propertyValue":"dayInfo.tomorrow.isWeekendOrHoliday","propertyOp":"0","propertyOpText":"is true"},{"timeType":"entered","timeValue":"22:35","timeOp":"1","timeOpText":"from","levelType":"levelFixed","levelValue":"closed (min)","offsetType":"none","offsetValue":"","multiplier":"1","propertyType":"none","propertyValue":"","propertyOp":"0","propertyOpText":"is true"}],"tsCompare":"1","sunControlMode":"1","sunFloorLength":"0.6","sunMinAltitude":"","blindPosMin":"closed (min)","blindPosMinType":"levelFixed","blindPosMax":"open (max)","blindPosMaxType":"levelFixed","smoothTime":"2400000","windowTop":"1.28","windowBottom":"0","windowAzimuthStart":"70","windowAzimuthEnd":"150","cloudValue":"","cloudValueType":"none","cloudThreshold":"","cloudBlindPos":"open (max)","cloudBlindPosType":"levelFixed","x":600,"y":1420,"wires":[[]]},{"id":"5c936d96.ccba54","type":"inject","z":"756d5a5e.9c43b4","name":"","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":1420,"wires":[["aec61c73.5c1f9"]]},{"id":"aec61c73.5c1f9","type":"unsafe-function","z":"756d5a5e.9c43b4","name":"fkt 30min","func":"\nlet timeObj = context.get(\"timeObj\");\nif (timeObj) {\n    clearInterval(timeObj);\n    context.set(\"timeObj\", null);\n    let d = new Date(context.get(\"date\"));\n    node.status({fill:\"red\",shape:\"ring\",text:\"off - \" + d.toLocaleTimeString()});\n} else {\n    context.set(\"message\", msg);\n    let d = new Date(); \n    let num = Number(msg.payload) || 0;\n    d.setHours(num);\n    d.setMinutes(0);\n    context.set(\"date\", d.getTime());\n    msg.lts = d.toLocaleTimeString();\n    msg.ts = d.getTime();\n    node.log(\"sending \" + d.toLocaleTimeString() + ' #######################################');\n    node.send(msg);\n        \n    let timeObj = setInterval(function(){\n        let msg = context.get(\"message\");\n        let d = new Date(context.get(\"date\"));\n        //d.setHours(d.getHours()+1);\n        d.setMinutes(d.getMinutes() + 30)\n        context.set(\"date\", d.getTime());\n        msg.lts = d.toLocaleTimeString();\n        msg.ts = d.getTime();\n        node.status({fill:\"green\",shape:\"dot\",text:d.toLocaleTimeString()});\n        node.log(\"sending \" + d.toLocaleTimeString() + ' #######################################');\n        node.send(msg);\n    }, 1000);\n    context.set(\"timeObj\", timeObj);\n    node.status({fill:\"green\",shape:\"ring\",text:d.toLocaleTimeString()});\n}\n\nreturn null;","outputs":1,"noerr":0,"x":390,"y":1420,"wires":[["94725623.e5b0a8"]]},{"id":"986ee0b9.75f89","type":"inject","z":"756d5a5e.9c43b4","name":"60%","topic":"","payload":"{\"position\":0.6,\"ignoreSameValue\":true}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":280,"wires":[["986679bf.ae5218"]]},{"id":"b4148aaa.5b43f8","type":"blind-control","z":"756d5a5e.9c43b4","name":"south-Küche 0.8 - 0.01 + cloud","topic":"","positionConfig":"9a63355f.c23e98","outputs":1,"blindIncrement":"0.01","blindOpenPos":"1","blindClosedPos":0,"blindPosDefault":"open (max)","blindPosDefaultType":"levelFixed","overwriteExpire":"","rules":[{"timeType":"pdsTime","timeValue":"sunrise","timeOp":"0","timeOpText":"until","levelType":"levelFixed","levelValue":"closed (min)","offsetType":"none","offsetValue":"","multiplier":"1","propertyType":"none","propertyValue":"","propertyOp":"0","propertyOpText":"is true"},{"timeType":"pdsTime","timeValue":"sunset","timeOp":"1","timeOpText":"from","levelType":"levelFixed","levelValue":"33%","offsetType":"num","offsetValue":"-3","multiplier":"3600000","propertyType":"global","propertyValue":"sunMax","propertyOp":"0","propertyOpText":"is true"},{"timeType":"pdsTime","timeValue":"sunset","timeOp":"1","timeOpText":"from","levelType":"levelFixed","levelValue":"closed (min)","offsetType":"none","offsetValue":"","multiplier":"1","propertyType":"none","propertyValue":"","propertyOp":"0","propertyOpText":"is true"}],"tsCompare":"0","sunControlMode":"1","sunFloorLength":"0.9","sunMinAltitude":"","blindPosMin":"closed (min)","blindPosMinType":"levelFixed","blindPosMax":"open (max)","blindPosMaxType":"levelFixed","smoothTime":"","windowTop":"1.3","windowBottom":"0.02","windowAzimuthStart":"95","windowAzimuthEnd":"230","cloudValue":"weather.clouds","cloudValueType":"flow","cloudThreshold":"50","cloudBlindPos":"open (max)","cloudBlindPosType":"levelFixed","x":532,"y":1080,"wires":[[]]},{"id":"aa9ac285.0c7b5","type":"blind-control","z":"756d5a5e.9c43b4","name":"0.01 no Hyst","topic":"","positionConfig":"9a63355f.c23e98","outputs":1,"blindIncrement":"0.01","blindOpenPos":"1","blindClosedPos":0,"blindPosDefault":"open (max)","blindPosDefaultType":"levelFixed","overwriteExpire":"14400000","rules":[{"timeType":"entered","timeValue":"6:30","timeOp":"0","timeOpText":"until","levelType":"levelFixed","levelValue":"closed (min)","offsetType":"none","offsetValue":"","multiplier":"1","validOperandAType":"none","validOperandAValue":"","validOperator":"true","validOperatorText":"is true","validOperandBType":"num","validOperandBValue":""},{"timeType":"entered","timeValue":"7:25","timeOp":"0","timeOpText":"until","levelType":"levelFixed","levelValue":"closed (min)","offsetType":"none","offsetValue":"","multiplier":"1","validOperandAType":"none","validOperandAValue":"","validOperator":"true","validOperatorText":"is true","validOperandBType":"num","validOperandBValue":""},{"timeType":"pdsTime","timeValue":"civilDawn","timeOp":"0","timeOpText":"until","levelType":"levelFixed","levelValue":"closed (min)","offsetType":"none","offsetValue":"","multiplier":"1","validOperandAType":"none","validOperandAValue":"","validOperator":"true","validOperatorText":"is true","validOperandBType":"num","validOperandBValue":""},{"timeType":"pdsTime","timeValue":"nadir","timeOp":"1","timeOpText":"from","levelType":"levelFixed","levelValue":"closed (min)","offsetType":"none","offsetValue":"","multiplier":"1","validOperandAType":"none","validOperandAValue":"","validOperator":"true","validOperatorText":"is true","validOperandBType":"num","validOperandBValue":""},{"timeType":"entered","timeValue":"22:35","timeOp":"1","timeOpText":"from","levelType":"levelFixed","levelValue":"closed (min)","offsetType":"none","offsetValue":"","multiplier":"1","validOperandAType":"none","validOperandAValue":"","validOperator":"true","validOperatorText":"is true","validOperandBType":"num","validOperandBValue":""},{"timeType":"entered","timeValue":"23:15","timeOp":"1","timeOpText":"from","levelType":"levelFixed","levelValue":"closed (min)","offsetType":"none","offsetValue":"","multiplier":"1","validOperandAType":"none","validOperandAValue":"","validOperator":"true","validOperatorText":"is true","validOperandBType":"num","validOperandBValue":""}],"tsCompare":"1","sunControlMode":"1","sunFloorLength":"0.6","sunMinAltitude":"","blindPosMin":"25%","blindPosMinType":"levelFixed","blindPosMax":"open (max)","blindPosMaxType":"levelFixed","smoothTime":"","windowTop":"1.28","windowBottom":"0","windowAzimuthStart":"70","windowAzimuthEnd":"150","cloudValue":"","cloudValueType":"none","cloudCompare":"gte","cloudThreshold":"","cloudThresholdType":"num","cloudBlindPos":"open (max)","cloudBlindPosType":"levelFixed","x":580,"y":1470,"wires":[["9ea83803.793608"]]},{"id":"496ce679.d4a168","type":"inject","z":"756d5a5e.9c43b4","name":"","topic":"start/stop","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1470,"wires":[["c6560b58.b66578"]]},{"id":"c6560b58.b66578","type":"unsafe-function","z":"756d5a5e.9c43b4","name":"fkt 30min","func":"let timeObj = context.get(\"timeObj\");\n\nif (msg.topic.includes('start') || msg.topic.includes('stop')) {\n    if (timeObj) {\n        clearInterval(timeObj);\n        context.set(\"timeObj\", null);\n        let d = new Date(context.get(\"date\"));\n        node.status({fill:\"red\",shape:\"ring\",text:\"off - \" + d.toLocaleTimeString()});\n    } else {\n        context.set(\"message\", msg);\n        let d = new Date(); \n        let num = Number(msg.payload) || 0;\n        d.setHours(num);\n        d.setMinutes(0);\n        context.set(\"date\", d.getTime());\n        msg.lts = d.toLocaleTimeString();\n        msg.ts = d.getTime();\n        node.log(\"sending \" + d.toLocaleTimeString() + ' ####################################### payload='+msg.payload+' topic='+msg.topic);\n        node.send(msg);\n            \n        let timeObj = setInterval(function(){\n            let msg = context.get(\"message\");\n            let d = new Date(context.get(\"date\"));\n            //d.setHours(d.getHours()+1);\n            d.setMinutes(d.getMinutes() + 30)\n            context.set(\"date\", d.getTime());\n            msg.lts = d.toLocaleTimeString();\n            msg.ts = d.getTime();\n            node.status({fill:\"green\",shape:\"dot\",text:d.toLocaleTimeString()});\n            node.log(\"sending \" + d.toLocaleTimeString() + ' ####################################### payload='+msg.payload+' topic='+msg.topic);\n            node.send(msg);\n        }, 1000);\n        context.set(\"timeObj\", timeObj);\n        node.status({fill:\"green\",shape:\"ring\",text:d.toLocaleTimeString()});\n    }\n} else {\n    let d = new Date(context.get(\"date\"));\n    d.setMinutes(d.getMinutes() + 5)\n    //d.setHours(d.getHours()+1);\n    msg.lts = d.toLocaleTimeString();\n    msg.ts = d.getTime();\n    node.status({fill:\"green\",shape:\"dot\",text:d.toLocaleTimeString()});\n    node.log(\"sending interrupt msg \" + d.toLocaleTimeString() + ' ####################################### payload='+msg.payload+' topic='+msg.topic);\n    node.send(msg);\n}\n\nreturn null;","outputs":1,"noerr":0,"x":390,"y":1470,"wires":[["aa9ac285.0c7b5"]]},{"id":"c3f9cb90.392d98","type":"inject","z":"756d5a5e.9c43b4","name":"60%","topic":"","payload":"0.6","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":330,"wires":[["164054a5.30530b"]]},{"id":"164054a5.30530b","type":"change","z":"756d5a5e.9c43b4","name":"","rules":[{"t":"set","p":"ignoreSameValue","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"position","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":330,"wires":[["986679bf.ae5218"]]},{"id":"c10bd116.70217","type":"inject","z":"756d5a5e.9c43b4","name":"70%","topic":"","payload":"0.7","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":373,"wires":[["164054a5.30530b"]]},{"id":"a52359fd.4cfd38","type":"change","z":"756d5a5e.9c43b4","name":"dayInfo.today.isWeekendOrHoliday true","rules":[{"t":"set","p":"dayInfo.today.isWeekendOrHoliday","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1150,"wires":[[]]},{"id":"66247379.89637c","type":"change","z":"756d5a5e.9c43b4","name":"dayInfo.today.isWeekendOrHoliday false","rules":[{"t":"set","p":"dayInfo.today.isWeekendOrHoliday","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1190,"wires":[[]]},{"id":"f8a8f7c0.717a58","type":"inject","z":"756d5a5e.9c43b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":1150,"wires":[["a52359fd.4cfd38"]]},{"id":"1fe8647b.ae7adc","type":"inject","z":"756d5a5e.9c43b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":1190,"wires":[["66247379.89637c"]]},{"id":"64a96ced.0feaa4","type":"change","z":"756d5a5e.9c43b4","name":"dayInfo.tomorrow.isWeekendOrHoliday true","rules":[{"t":"set","p":"dayInfo.tomorrow.isWeekendOrHoliday","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1230,"wires":[[]]},{"id":"a7a66d9d.41563","type":"change","z":"756d5a5e.9c43b4","name":"dayInfo.tomorrow.isWeekendOrHoliday false","rules":[{"t":"set","p":"dayInfo.tomorrow.isWeekendOrHoliday","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1270,"wires":[[]]},{"id":"8374ee81.73a7c","type":"inject","z":"756d5a5e.9c43b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":1230,"wires":[["64a96ced.0feaa4"]]},{"id":"d22be9ee.20c588","type":"inject","z":"756d5a5e.9c43b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":1270,"wires":[["a7a66d9d.41563"]]},{"id":"9ea83803.793608","type":"debug","z":"756d5a5e.9c43b4","name":"Blind out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":1470,"wires":[]},{"id":"989229a0.9285e8","type":"inject","z":"756d5a5e.9c43b4","name":"reset","topic":"do a resetOverwrite","payload":"reset","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":440,"y":100,"wires":[["986679bf.ae5218"]]},{"id":"6ec19727.51d938","type":"inject","z":"756d5a5e.9c43b4","name":"60%","topic":"levelOverwrite","payload":"0.6","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":150,"wires":[["986679bf.ae5218"]]},{"id":"aeaa4209.0c0b4","type":"inject","z":"756d5a5e.9c43b4","name":"","topic":"manual","payload":"-1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":360,"wires":[["986679bf.ae5218"]]},{"id":"187282d8.56186d","type":"inject","z":"756d5a5e.9c43b4","name":"","topic":"resetOverwrite","payload":"now","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1570,"wires":[["c6560b58.b66578"]]},{"id":"db1fd3b9.5f4b7","type":"inject","z":"756d5a5e.9c43b4","name":"","topic":"manual","payload":"-1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1520,"wires":[["c6560b58.b66578"]]},{"id":"2ad3915c.c059be","type":"debug","z":"756d5a5e.9c43b4","name":"Blind Controller 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":720,"y":230,"wires":[]},{"id":"9a63355f.c23e98","type":"position-config","z":"","name":"zuHause","isValide":"true","longitude":"0","latitude":"0","angleType":"deg","timezoneOffset":"1"}]