nodes/test/flow-test2.json
[{"id":"6de78cfb.a9dd74","type":"tab","label":"SunPos-Test 2","disabled":false,"info":""},{"id":"1983e0e4.ee6f5f","type":"time-comp","z":"6de78cfb.a9dd74","outputs":1,"name":"","positionConfig":"d9e9ca6a.952218","input":"","inputType":"msgPayload","inputFormat":"2","inputOffset":0,"inputOffsetType":"none","inputOffsetMultiplier":60000,"rules":[],"checkall":"true","result1":"","result1Type":"msgPayload","result1Value":"","result1ValueType":"input","result1Format":"14","result1Offset":0,"result1OffsetType":"none","result1OffsetMultiplier":60000,"x":490,"y":100,"wires":[["c4c57a1d.1a95f8"]]},{"id":"210b9a22.a41026","type":"time-span","z":"6de78cfb.a9dd74","outputs":2,"name":"","positionConfig":"d9e9ca6a.952218","operand1":"","operand1Type":"msgPayload","operand1Format":"0","operand1Offset":0,"operand1OffsetType":"none","operand1OffsetMultiplier":60000,"operand2":"","operand2Type":"msgTs","operand2Format":"0","operand2Offset":0,"operand2OffsetType":"none","operand2OffsetMultiplier":60000,"rules":[{"operator":"1","operatorText":"==     (equal)","operandType":"num","operandValue":""}],"checkall":"true","result1":"","result1Type":"msgPayload","result1Value":"","result1ValueType":"timespan","result1TSFormat":1,"result1Format":"0","result1Offset":0,"result1OffsetType":"none","result1OffsetMultiplier":60000,"x":520,"y":480,"wires":[[],[]]},{"id":"41c737a6.19b378","type":"inject","z":"6de78cfb.a9dd74","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":100,"wires":[["1983e0e4.ee6f5f"]]},{"id":"674f1a9b.cfb474","type":"inject","z":"6de78cfb.a9dd74","name":"","topic":"","payload":"1.3.2018 14:35","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":160,"wires":[["84e34f7.e2959b","17716154.b8357f","9d285b73.332708"]]},{"id":"8336794b.f957d8","type":"inject","z":"6de78cfb.a9dd74","name":"","topic":"","payload":"2018-04-11 19:35","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":220,"wires":[["17716154.b8357f","84e34f7.e2959b","9d285b73.332708"]]},{"id":"c693dc45.f7e48","type":"inject","z":"6de78cfb.a9dd74","name":"","topic":"","payload":"10/1/2018 2:30pm","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":280,"wires":[["9d285b73.332708","17716154.b8357f","84e34f7.e2959b"]]},{"id":"84e34f7.e2959b","type":"time-comp","z":"6de78cfb.a9dd74","outputs":1,"name":"","positionConfig":"d9e9ca6a.952218","input":"","inputType":"msgPayload","inputFormat":"3","inputOffset":0,"inputOffsetType":"none","inputOffsetMultiplier":60000,"rules":[],"checkall":"true","result1":"","result1Type":"msgPayload","result1Value":"","result1ValueType":"input","result1Format":"14","result1Offset":0,"result1OffsetType":"none","result1OffsetMultiplier":60000,"x":490,"y":160,"wires":[["c48c108b.bcc49"]]},{"id":"17716154.b8357f","type":"time-comp","z":"6de78cfb.a9dd74","outputs":1,"name":"","positionConfig":"d9e9ca6a.952218","input":"","inputType":"msgPayload","inputFormat":"3","inputOffset":0,"inputOffsetType":"none","inputOffsetMultiplier":60000,"rules":[],"checkall":"true","result1":"","result1Type":"msgPayload","result1Value":"","result1ValueType":"input","result1Format":"-1","result1Offset":0,"result1OffsetType":"none","result1OffsetMultiplier":60000,"x":490,"y":220,"wires":[["6bdf3511.e1985c"]]},{"id":"9d285b73.332708","type":"time-comp","z":"6de78cfb.a9dd74","outputs":1,"name":"","positionConfig":"d9e9ca6a.952218","input":"","inputType":"msgPayload","inputFormat":"2","inputOffset":0,"inputOffsetType":"none","inputOffsetMultiplier":60000,"rules":[],"checkall":"true","result1":"","result1Type":"msgPayload","result1Value":"","result1ValueType":"input","result1Format":"-1","result1Offset":0,"result1OffsetType":"none","result1OffsetMultiplier":60000,"x":490,"y":280,"wires":[["148c0d78.aa72a3"]]},{"id":"c4c57a1d.1a95f8","type":"debug","z":"6de78cfb.a9dd74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":730,"y":100,"wires":[]},{"id":"c48c108b.bcc49","type":"debug","z":"6de78cfb.a9dd74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":730,"y":160,"wires":[]},{"id":"6bdf3511.e1985c","type":"debug","z":"6de78cfb.a9dd74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":730,"y":220,"wires":[]},{"id":"148c0d78.aa72a3","type":"debug","z":"6de78cfb.a9dd74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":730,"y":280,"wires":[]},{"id":"a062c7c7.7e6438","type":"inject","z":"6de78cfb.a9dd74","name":"","topic":"","payload":"10/1/2018 2:30","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":340,"wires":[["3361b1b2.78633e"]]},{"id":"3361b1b2.78633e","type":"time-comp","z":"6de78cfb.a9dd74","outputs":1,"name":"","positionConfig":"d9e9ca6a.952218","input":"","inputType":"msgPayload","inputFormat":"2","inputOffset":0,"inputOffsetType":"none","inputOffsetMultiplier":60000,"rules":[],"checkall":"true","result1":"","result1Type":"msgPayload","result1Value":"","result1ValueType":"input","result1Format":"-1","result1Offset":0,"result1OffsetType":"none","result1OffsetMultiplier":60000,"x":490,"y":340,"wires":[["f624b6ca.58eda8"]]},{"id":"f624b6ca.58eda8","type":"debug","z":"6de78cfb.a9dd74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":730,"y":340,"wires":[]},{"id":"66dda147.caaba","type":"inject","z":"6de78cfb.a9dd74","name":"","topic":"","payload":"10/1/2018 2:30pm","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":400,"wires":[["b5501c4b.9d372"]]},{"id":"b5501c4b.9d372","type":"time-comp","z":"6de78cfb.a9dd74","outputs":1,"name":"","positionConfig":"d9e9ca6a.952218","input":"","inputType":"msgPayload","inputFormat":"M/d/yyyy HH:mmt","inputOffset":0,"inputOffsetType":"none","inputOffsetMultiplier":60000,"rules":[],"checkall":"true","result1":"","result1Type":"msgPayload","result1Value":"","result1ValueType":"input","result1Format":"-1","result1Offset":0,"result1OffsetType":"none","result1OffsetMultiplier":60000,"x":490,"y":400,"wires":[["1f14299a.14e6c6"]]},{"id":"1f14299a.14e6c6","type":"debug","z":"6de78cfb.a9dd74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":730,"y":400,"wires":[]},{"id":"d9e9ca6a.952218","type":"position-config","z":"","name":"Entenhausen","isValide":"true","longitude":"0","latitude":"0","angleType":"deg","timezoneOffset":"1"}]